$variant: 'light';
$topbar: 'dark';
$compact: 'true';

@import '../../variables';
@import '../../colors';
@import '../sass/drawing-3.20';
@import '../sass/common-3.20';
@import '../sass/apps-3.22';
@import '../sass/colors-public';
