/* OSD */

%osd-panel {
  padding: 12px;
  border: none;
  border-radius: $corner-radius;
  box-shadow: $shadow-4;
  background-color: $surface;
  color: $text;
}

.osd-window {
  @extend %osd-panel;
  text-align: center;
  font-weight: bold;
  spacing: 12px;
  margin: 32px;
  min-width: 64px;
  min-height: 64px;

  StIcon {
    icon-size: 96px;
  }

  .osd-monitor-label {
    @include type(headline3);
  }

  @if $version >= 3.30 {
    .level {
      height: 8px;
      -barlevel-height: 8px;
      -barlevel-background-color: $stroke-disabled;
      -barlevel-active-background-color: $primary;
      -barlevel-overdrive-color: $error;
      -barlevel-overdrive-separator-width: 2px;
    }
  } @else {
    .level {
      height: 8px;
      border-radius: 0;
      background-color: $stroke-disabled;
      color: $text;
    }

    .level-bar {
      border-radius: 0;
      background-color: $primary;
    }
  }
}

.resize-popup {
  @extend %osd-panel;
}

/* Pad OSD */

.pad-osd-window {
  padding: 32px;
  background-color: $scrim;

  .pad-osd-title-box {
    spacing: 12px;
  }

  .pad-osd-title-menu-box {
    spacing: 6px;
  }
}

.combo-box-label {
  width: 15em;
}
