$variant: 'light';
$topbar: 'light';
$compact: 'true';
$version: 3.28;

@import '../../variables';
@import '../../colors';
@import '../sass/variables';
@import '../sass/drawing';
@import '../sass/components';
@import '../sass/extensions';
