$variant: 'dark';
$titlebar: 'dark';
$compact: 'false';

@import '../../_sass/gnome-shell/variables';
@import '../../_sass/colors';
@import '../../_sass/gnome-shell/drawing';
@import '../../_sass/gnome-shell/common-3.28';
@import '../../_sass/gnome-shell/extensions';
