//SCREEN SHIELD

.screen-shield-arrows {
    padding-bottom: 3em;
}

.screen-shield-arrows Gjs_Arrow {
    color: white;
    width: 80px;
    height: 48px;
    -arrow-thickness: 12px;
    -arrow-shadow: $shadow-1;
}

.screen-shield-clock {
  color: white;
  text-shadow: $shadow-1;
  font-weight: normal;
  text-align: center;
  padding-bottom: 1.5em;
}

.screen-shield-clock-time {
  @include type(headline1);
  text-shadow: $shadow-1;
  font-feature-settings: "tnum";
}

.screen-shield-clock-date { @include type(headline4); }

.screen-shield-notifications-container {
  spacing: 6px;
  width: 30em;
  background-color: transparent;
  max-height: 500px;
  .summary-notification-stack-scrollview {
    padding-top: 0;
    padding-bottom: 0;
  }

  .notification,
  .screen-shield-notification-source {
    padding: 8px;
    border: none;
    background-color: $scrim-alt;
    color: on($scrim-alt);
    border-radius: $corner-radius;
  }
  .notification { margin-right: 16px; } //compensate for space allocated to the scrollbar
}


.screen-shield-notification-label {
  min-height: $small-size - 2px;
  padding: 2px 0px 0px 16px;
  font-weight: bold;
}

.screen-shield-notification-count-text {
  min-height: $small-size - 2px;
  padding: 2px 0px 0px 16px;
  color: on($scrim-alt, text2);
}

#panel.lock-screen { background-color: $scrim-alt; }

.screen-shield-background { //just the shadow, really
  background: black;
  box-shadow: $shadow-5;
}

#lockDialogGroup {
  background: $os-background;
  background-size: cover;
  color: on($os-background, text2);
}

#screenShieldNotifications {
  StScrollBar { @extend %overview_scrollbar; }
}
