//
// Shell components stylesheets are placed in separate .scss files
// in 'components' and imported into the main stylesheet in this file.
// To create or update a component for the shell modify the list below.
//

// Primary components
@import 'components/base';
@import 'components/entry';
@import 'components/button';
@import 'components/check-box';
@import 'components/switch';
@import 'components/slider';
@import 'components/scrollbar';
// Popovers
@import 'components/menu/menu';
@import 'components/menu/calendar';
@import 'components/menu/message-list';
@import 'components/menu/candidate-popup';
// Notifications
@import 'components/notification/notification';
@import 'components/notification/hotplug';
// Dialogs
@import 'components/dialog/dialog';
@import 'components/dialog/network-dialog';
// OSDs
@import 'components/osd/osd';
@import 'components/osd/switcher';
@import 'components/osd/workspace-switcher';
// Panel
@import 'components/panel/panel';
@import 'components/panel/ripple-box';
// Overview
@import 'components/overview/overview';
@import 'components/overview/window-picker';
@import 'components/overview/search-entry';
@import 'components/overview/search-results';
@import 'components/overview/app-grid';
@import 'components/overview/dash';
@import 'components/overview/workspace-switcher';
// A11y / misc
@import 'components/misc/misc';
@import 'components/misc/a11y';
@import 'components/misc/tile-preview';
@import 'components/misc/keyboard';
@import 'components/misc/looking-glass';
// Lock / login screens
@import 'components/gdm/login-dialog';
// @import 'components/gdm/screen-shield';
