// LOGIN DIALOG

.login-dialog-banner-view {
  padding-top: 24px;
  max-width: 23em;
}

.login-dialog {
  //reset
  border: none;
  background-color: transparent;

  StEntry {
    color: on($os-background);
    selection-background-color: on($os-background, stroke);
    selected-color: on($os-background);
    @include entry(normal, $fc:on($os-background, stroke));
    &:focus { @include entry(focus, $fc:on($os-background)); }
    &:insensitive {
      @include entry(insensitive, $fc:on($os-background, stroke-disabled));
      color: on($os-background, text-disabled);
    }
  }

  .modal-dialog-button-box { spacing: 3px; }
  .modal-dialog-button {
    min-width: 64px - 8px * 2;
    padding: 0 8px;
    @include button(flat-normal, $tc: on($os-background));
    &:hover,&:focus { @include button(flat-hover, $tc: on($os-background)); }
    &:active { @include button(flat-active, $tc: on($os-background)); }
    &:insensitive { @include button(flat-insensitive, $tc: on($os-background)); }

    &:default {
      min-width: 64px - 16px * 2;
      padding: 0 16px;
      @include button(normal, $c: $primary, $tc: on($primary));
      &:hover,&:focus { @include button(hover, $c: $primary, $tc: on($primary)); }
      &:active { @include button(active, $c: $primary, $tc: on($primary)); }
      &:insensitive { @include button(insensitive, $c: on($os-background, fill), $tc: on($os-background, text-disabled)); }
    }
  }
}

  .login-dialog-logo-bin { padding: 24px 0px; }
  .login-dialog-banner { color: on($os-background, text2); }
  .login-dialog-button-box { spacing: 5px; }
  .login-dialog-message-warning { color: on($os-background, error); }
  .login-dialog-message-hint { padding-top: 0; padding-bottom: 20px; }
  .login-dialog-user-selection-box { padding: 100px 0px; }
  .login-dialog-not-listed-label {
    padding-left: 2px;
    .login-dialog-not-listed-button:focus &,
    .login-dialog-not-listed-button:hover & {
      color: on($os-background);
    }
  }
  .login-dialog-not-listed-label {
    transition-duration: $duration;
    font-size: 1em;
    font-weight: bold;
    color: on($os-background, text2);
    padding-top: 1em;
    border-radius: $corner-radius;
    &:hover {
      background-color: $inverse-overlay-hover;
      color: on($os-background);
    }
    &:focus { background-color: $inverse-overlay-focus; }
    &:active {
      transition-duration: $duration-ripple;
      background-color: $inverse-overlay-active;
      color: on($os-background);
    }
  }

  .login-dialog-user-list-view { -st-vfade-offset: 1em; }
  .login-dialog-user-list {
    spacing: 12px;
    padding: .2em;
    width: 23em;
    &:expanded .login-dialog-user-list-item:selected { background-color: $inverse-overlay-focus; color: on($os-background); }
    &:expanded .login-dialog-user-list-item:hover { background-color: $inverse-overlay-hover; color: on($os-background); }
    &:expanded .login-dialog-user-list-item:active { background-color: $inverse-overlay-active; color: on($os-background); }
    &:expanded .login-dialog-user-list-item:logged-in { border-right: 2px solid on($os-background); }
  }
  .login-dialog-user-list-item {
    transition-duration: $duration;
    border-radius: $corner-radius;
    padding: 4px 4px 0;
    color: on($os-background, text2);
    &:ltr { padding-right: 1em; }
    &:rtl { padding-left: 1em; }
    &:hover {
      background-color: $inverse-overlay-hover;
      color: on($os-background);
    }
    &:active {
      transition-duration: $duration-ripple;
      background-color: $inverse-overlay-active;
      color: on($os-background);
    }
    .login-dialog-timed-login-indicator {
      height: 2px;
      margin: 2px 0 0 0;
      background-color: on($os-background);
    }
    &:focus .login-dialog-timed-login-indicator { background-color: on($os-background); }
  }

  .login-dialog-username,
  .user-widget-label {
    color: on($os-background);
    @include type(headline6);
    text-align: left;
    padding-left: 15px;
  }
    .user-widget-label {
      &:ltr { padding-left: 18px; }
      &:rtl { padding-right: 18px; }
    }

  .login-dialog-prompt-layout {
      padding-top: 24px;
      padding-bottom: 12px;
      spacing: 8px;
      width: 23em;
  }

  .login-dialog-prompt-label {
      color: on($os-background, text2);
      font-size: 1em;
      padding-top: 1em;
  }

  .login-dialog-session-list-button StIcon {
      icon-size: 1.25em;
  }

  .login-dialog-session-list-button {
      color: on($os-background, text2);
      &:hover,&:focus { color: on($os-background); }
      &:active { color: on($os-background); }
  }

//SCREEN SHIELD

.screen-shield-arrows {
    padding-bottom: 3em;
}

.screen-shield-arrows Gjs_Arrow {
    color: white;
    width: 80px;
    height: 48px;
    -arrow-thickness: 12px;
    -arrow-shadow: $shadow-1;
}

.screen-shield-clock {
  color: white;
  text-shadow: $shadow-1;
  font-weight: normal;
  text-align: center;
  padding-bottom: 1.5em;
}

.screen-shield-clock-time {
  @include type(headline1);
  text-shadow: $shadow-1;
}

.screen-shield-clock-date { @include type(headline4); }

.screen-shield-notifications-container {
  spacing: 6px;
  width: 30em;
  background-color: transparent;
  max-height: 500px;
  .summary-notification-stack-scrollview {
    padding-top: 0;
    padding-bottom: 0;
  }

  .notification,
  .screen-shield-notification-source {
    padding: 8px;
    border: none;
    background-color: $scrim-alt;
    color: on($scrim-alt);
    border-radius: $corner-radius;
  }
  .notification { margin-right: 16px; } //compensate for space allocated to the scrollbar
}


.screen-shield-notification-label {
  min-height: $small-size - 2px;
  padding: 2px 0px 0px 16px;
  font-weight: bold;
}

.screen-shield-notification-count-text {
  min-height: $small-size - 2px;
  padding: 2px 0px 0px 16px;
  color: on($scrim-alt, text2);
}

#panel.lock-screen { background-color: $scrim-alt; }

.screen-shield-background { //just the shadow, really
  background: black;
  box-shadow: $shadow-5;
}

#lockDialogGroup {
  background: $os-background;
  background-size: cover;
  color: on($os-background, text2);
}

#screenShieldNotifications {
  StScrollBar { @extend %overview_scrollbar; }
}
