// floating status bar
.floating-bar {
  @extend %osd;
  // @extend .toolbar.osd;
  padding: 3px 0 4px;
  border-width: 1px;
  border-style: solid solid none;
  border-color: $borders_color;
  border-radius: 2px + 1px 2px + 1px 0 0;
  background-color: $base_color;
  background-clip: $extra_background_clip;
  &.left {
    border-left-style: none;
    border-top-left-radius: 0;
  }
  &.right {
    border-right-style: none;
    border-top-right-radius: 0;
  }
  .button {
    padding: 4px;
  }
}

/************
 * Nautilus *
 ************/

EelEditableLabel.entry { transition: none; }

.nautilus-canvas-item {
  // border-radius: 2px;
}

.nautilus-canvas-item.dim-label,
.nautilus-list-dim-label {
  // @extend .dim-label;
}

.nautilus-canvas-item.dim-label:selected,
.nautilus-list-dim-label:selected {
}

.nautilus-desktop.nautilus-canvas-item {
  // background-color: scale-alpha(#000000, $lower_opacity);
  color: $selected_fg_color;
  text-shadow: $z-depth-1;
}

.nautilus-desktop.nautilus-canvas-item:selected {
  // color: $selected_fg_color;
  text-shadow: none;
}

.nautilus-circular-button {
  @extend %image_button;
}

/* Toolbar */

@keyframes needs_attention_keyframes {
  0% {background-color: transparent; }
  50% {background-color: $track_color; }
  100% {background-color: transparent; }
}
.nautilus-operations-button-needs-attention {
  color: $accent_bg_color;
  animation: needs_attention_keyframes 2s $material_timing_function;
}
.nautilus-operations-button-needs-attention-multiple {
  color: $accent_bg_color;
  animation: needs_attention_keyframes 2s $material_timing_function;
  animation-iteration-count: 2;
}

.disk-space-display {
  // border-style: solid;
  // border-width: 2px;
}

.disk-space-display.unknown {
  background-color: $warning_color;
}

.disk-space-display.used {
  background-color: $selected_bg_color;
}

.disk-space-display.free {
  background-color: $track_color;
  color: $insensitive_fg_color;
}

/* View */
NautilusListView .view {
  // border-bottom: 1px solid $borders_color;
}


/************
 * Software *
 ************/

.button.install-progress:insensitive { background-color: $track_color; }


/*********
 * Unity *
 *********/
// Decorations
UnityDecoration {
  -UnityDecoration-extents: 32px 0 0 0;
  -UnityDecoration-input-extents: 8px;

  -UnityDecoration-shadow-offset-x: 0;
  -UnityDecoration-shadow-offset-y: 3px;
  -UnityDecoration-active-shadow-color: rgba(0, 0, 0, 0.48);
  -UnityDecoration-active-shadow-radius: 18px;
  -UnityDecoration-inactive-shadow-color: rgba(0, 0, 0, 0.32);
  -UnityDecoration-inactive-shadow-radius: 6px;

  -UnityDecoration-glow-size: 8px;
  -UnityDecoration-glow-color: $selected_bg_color;

  -UnityDecoration-title-indent: 4px;
  -UnityDecoration-title-fade: 32px;
  -UnityDecoration-title-alignment: 0.0;
}

UnityDecoration.top {
  padding: 0 4px;
  border-style: none;
  border-radius: 2px 2px 0 0;
  box-shadow: inset 0 1px $secondary_highlight_color;
  background-color: $dark_color;
  // color: $selected_fg_color;
}

UnityDecoration.top:backdrop {
  // color: $secondary_selected_fg_color;
}

UnityDecoration.left,
UnityDecoration.right {
}

UnityDecoration.bottom {
}

UnityDecoration.menubar.menuitem:hover,
UnityDecoration.menubar .menuitem *:hover {
  box-shadow: inset 0 -2px $selected_bg_color;
  background-color: transparent;
}

.background:not(.csd) .header-bar {
  border-radius: 0;
  box-shadow: none;
}

SheetStyleDialog.unity-force-quit {
  // background-color: $bg_color;
}

// Panel Style
UnityPanelWidget,
.unity-panel {
  background-color: $dark_color;
  background-image: image($dark_color);
  // color: $selected_fg_color;
}

UnityPanelWidget:backdrop,
.unity-panel:backdrop {
  // color: $secondary_selected_fg_color;
}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
  box-shadow: inset 0 -2px $selected_bg_color;
  background-color: transparent;
}

@keyframes playbackmenuitem_spinner {
  to { -gtk-icon-transform: rotate(1turn); }
}

.menu IdoPlaybackMenuItem.menuitem:active {
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
  animation: playbackmenuitem_spinner 1s infinite linear;
  color: $selected_bg_color;
}

