// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

@function scale-alpha($c, $a) {
  @return scale-color($c, $alpha: percentage(-1 + $a));
}

//foreground colors
$fg_color: if($variant == 'light', scale-alpha(#000000, 0.8), #FFFFFF);
$secondary_fg_color: scale-alpha($fg_color, 0.75);
$tertiary_fg_color: scale-alpha($fg_color, 0.6);

$selected_fg_color: #FFFFFF;
$secondary_selected_fg_color: scale-alpha($selected_fg_color, 0.75);
$tertiary_selected_fg_color: scale-alpha($selected_fg_color, 0.6);

$insensitive_fg_color: scale-alpha($fg_color, 0.4);
$insensitive_secondary_fg_color: scale-alpha($secondary_fg_color, 0.4);
$insensitive_tertiary_fg_color: scale-alpha($tertiary_fg_color, 0.4);

$insensitive_selected_fg_color: scale-alpha($fg_color, 0.4);
$insensitive_secondary_selected_fg_color: scale-alpha($secondary_fg_color, 0.4);
$insensitive_tertiary_selected_fg_color: scale-alpha($tertiary_fg_color, 0.4);

//background colors
$bg_color: if($variant == 'light', #EEEEEE, #37474F);
$base_color: if($variant == 'light', #FFFFFF, #455A64);
$secondary_base_color: mix($base_color, $bg_color, 50%);
$light_color: if($variant =='light', #FAFAFA, #546E7A);
$dark_color: if($variant =='light', #E0E0E0, mix(#263238, #37474F, 50%));

$selected_bg_color: #26A69A;
$secondary_selected_bg_color: #00BFA5;

//miscellaneous colors
$track_color: gtkalpha(currentColor, 0.2);
$borders_color: if($variant == 'light', scale-alpha(#000000, 0.1), scale-alpha(#000000, 0.2));
$highlight_color: if($variant == 'light', scale-alpha(#FFFFFF, 0.4), scale-alpha(#FFFFFF, 0.1));

$link_color: #448AFF;
$link_visited_color: #E040FB;

$warning_color: #FF6D00;
$error_color: #DD2C00;
$success_color: #00C853;

$suggested_color: #FF4081;
$destructive_color: #FF5252;
$selection_color: #00BCD4;

$info_bg_color: #66BB6A;
$question_bg_color: #42A5F5;
$warning_bg_color: #FFA726;
$error_bg_color: #EF5350;

