// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

@function gtkopacity($c, $a) {
  @return scale-color($c, $alpha: percentage(-1 + $a));
}

$base_color: if($variant == 'light', #ffffff, #444444);
$text_color: if($variant == 'light', gtkopacity(black, 0.8), white);
$bg_color: if($variant == 'light', #eeeeee, #333333);
$fg_color: if($variant == 'light', gtkopacity(black, 0.8), white);

$light_color: if($variant =='light', darken($base_color,2%), lighten($base_color,4%));
$dark_color: if($variant =='light', darken($bg_color,4%), darken($bg_color,2%));
$secondary_fg_color: gtkopacity($fg_color, 0.8);

$selected_bg_color: if($variant == 'light', #3498db, #2980b9);
$selected_fg_color: #ffffff;
$secondary_selected_fg_color: gtkopacity($selected_fg_color, 0.8);
$fill_color: gtkalpha(currentColor, 0.2);
$borders_color: if($variant == 'light', gtkopacity(black, 0.1), gtkopacity(black, 0.2));
$link_color: if($variant == 'light', #3498db, #2980b9);
$link_visited_color: if($variant == 'light', #9b59b6, #8e44ad);

$highlight_color: if($variant == 'light', gtkopacity(white, 0.4), gtkopacity(white, 0.1));

$warning_color: if($variant =='light', #e67e22, #d35400);
$error_color: if($variant =='light', #e74c3c, #c0392b);
$success_color: if($variant =='light', #2ecc71, #27ae60);
$suggested_color: if($variant =='light', #1cccaa, #16a085);
$destructive_color: if($variant =='light', #e74c3c, #c0392b);

//insensitive state derived colors
$insensitive_fg_color: gtkopacity($fg_color, 0.4);
$insensitive_secondary_fg_color: gtkopacity($secondary_fg_color, 0.4);
$insensitive_selected_fg_color: gtkopacity($fg_color, 0.4);
$insensitive_secondary_selected_fg_color: gtkopacity($secondary_fg_color, 0.4);
$insensitive_base_color: mix($base_color, $bg_color, 50%);

//colors for the backdrop state, derived from the main colors.
$backdrop_fg_color: gtkopacity($fg_color, 0.8);
$backdrop_insensitive_fg_color: gtkopacity($insensitive_fg_color, 0.8);
$backdrop_base_color: if($variant ==' light', darken($base_color, 1%), lighten($base_color, 1%));
$backdrop_text_color: mix($text_color, $backdrop_base_color, 80%);
$backdrop_bg_color: $bg_color;
$backdrop_selected_fg_color: gtkopacity($selected_fg_color, 0.8);
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color, $backdrop_bg_color, 35%);
$backdrop_sidebar_bg_color: mix($backdrop_bg_color, $backdrop_base_color, 50%);

$backdrop_scrollbar_bg_color: darken($backdrop_bg_color, 3%);
