$variant: 'light';
$light: 'true';
$laptop: 'true';

@import 'colors';
@import 'drawing';
@import 'common';
@import 'apps';
@import 'mate';
@import 'budgie';
@import 'lightdm';
@import 'colors-public';
