$variant: 'light';
$topbar: 'dark';
$compact: 'true';

@import '../../_sass/variables';
@import '../../_sass/colors';
@import '../../_sass/gnome-shell/variables';
@import '../../_sass/gnome-shell/drawing';
@import '../../_sass/gnome-shell/common-3.18';
@import '../../_sass/gnome-shell/extensions';
