// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant


$base_color: if($variant =='light', #ffffff, #444444);
$bg_color: scale-color($base_color, $alpha: -5%);
$fg_color: if($variant == 'light', scale-color(black, $alpha: -20%), white);
$secondary_fg_color: scale-color($fg_color, $alpha: -20%);
$dim_fg_color: scale-color($fg_color, $alpha: -50%);
$fill_color: scale-color($fg_color, $alpha: -80%);
$semi_fill_color: scale-color($fg_color, $alpha: -90%);

$selected_fg_color: white;
$selected_bg_color: if($variant == 'light', #3498db, #2980b9);
$borders_color: if($variant =='light', scale-color(black, $alpha: -90%), scale-color(black, $alpha: -80%));
$borders_edge: if($variant =='light', white, scale-color($fg_color, $alpha: -90%));
$link_color: if($variant == 'light', #3498db, #2980b9);
$link_visited_color: if($variant == 'light', #9b59b6, #8e44ad);
$top_hilight: $borders_edge;

$warning_color: if($variant =='light', #e67e22, #d35400);
$error_color: if($variant =='light', #e74c3c, #c0392b);
$success_color: if($variant =='light', #2ecc71, #27ae60);
$destructive_color: if($variant =='light', #e74c3c, #c0392b);

$osd_fg_color: white;
$osd_base_color: scale-color($osd_fg_color, $alpha: -90%);
$osd_bg_color: scale-color(black, $alpha: -50%);
$osd_dim_fg_color: scale-color($osd_fg_color, $alpha: -50%);
$osd_fill_color: scale-color($osd_fg_color, $alpha: -60%);
$osd_semi_fill_color: scale-color($osd_fg_color, $alpha: -80%);
$osd_indicator_color: scale-color($osd_fg_color, $alpha: -20%);
$osd_borders_color: scale-color(black, $alpha: -30%);
$osd_outer_borders_color: scale-color(white, $alpha: -90%);

$tooltip_borders_color: $osd_outer_borders_color;

//insensitive state derived colors
$insensitive_fg_color: scale-color($fg_color, $alpha: -60%);
$insensitive_secondary_fg_color: scale-color($secondary_fg_color, $alpha: -60%);
$insensitive_bg_color: mix($bg_color, $base_color, 60%);
$insensitive_borders_color: $borders_color;

//colors for the backdrop state, derived from the main colors.
$backdrop_base_color: if($variant =='light', darken($base_color,1%), lighten($base_color,1%));
$backdrop_bg_color: $bg_color;
$backdrop_fg_color: mix($fg_color, $backdrop_bg_color, 80%);
$backdrop_insensitive_color: if($variant =='light', darken($backdrop_bg_color,15%), lighten($backdrop_bg_color,15%));
$backdrop_borders_color: mix($borders_color, $bg_color, 90%);
$backdrop_dark_fill: mix($backdrop_borders_color,$backdrop_bg_color, 35%);
