/* Login Dialog */

.login-dialog-banner-view {
  padding-top: 24px;
  max-width: 23em;
}

.login-dialog,
.unlock-dialog {
  //reset
  border: 0;
  background-color: transparent;

  StEntry {
    @include entry(normal, $fc: stroke($on-system));
    color: $on-system;
    selection-background-color: stroke($on-system);
    selected-color: $on-system;

    &:focus {
      @include entry(focus, $fc: $on-system);
    }

    &:insensitive {
      @include entry(insensitive, $fc: disabled-stroke($on-system));
      color: disabled($on-system);
    }

    StLabel.hint-text {
      color: hint($on-system);
    }

    StIcon.peek-password {
      color: hint($on-system);

      &:hover {
        color: $on-system;
      }
    }
  }

  .modal-dialog-button-box {
    spacing: 3px;
  }

  .modal-dialog-button {
    @include button(flat-normal, $tc: $on-system);

    &:focus {
      @include button(flat-focus, $tc: $on-system);
    }

    &:hover {
      @include button(flat-hover, $tc: $on-system);
    }

    &:active {
      @include button(flat-active, $tc: $on-system);
    }

    &:insensitive {
      @include button(flat-insensitive, $tc: $on-system);
    }

    &:default {
      min-width: 64px - 16px * 2;
      padding: 0 16px;
      @include button(normal, $c: $primary, $tc: $on-primary);

      &:focus {
        @include button(focus, $c: $primary, $tc: $on-primary);
      }

      &:hover {
        @include button(hover, $c: $primary, $tc: $on-primary);
      }

      &:active {
        @include button(active, $c: $primary, $tc: $on-primary);
      }

      &:insensitive {
        @include button(insensitive, $c: fill($on-system), $tc: disabled($on-system));
      }
    }
  }
}

.login-dialog-logo-bin {
  padding: 24px 0;
}

.login-dialog-banner {
  color: hint($on-system);
}

.login-dialog-button-box {
  spacing: 5px;

  @if $version >= 3.36 {
    width: 23em;
  }
}

@if $version >= 3.36 {
  .login-dialog-message {
    text-align: center;
  }
}

.caps-lock-warning-label,
.login-dialog-message-warning {
  color: error($on-system);
}

.login-dialog-message-hint {
  color: hint($on-system);

  @if $version < 40 {
    padding-top: 0;
    padding-bottom: 20px;
  }
}

.login-dialog-user-selection-box {
  padding: 100px 0;
}

.login-dialog-not-listed-button {
  transition-duration: $duration;
  min-height: 32px;
  padding: 0 8px;
  margin-top: 1em;
  border-radius: $corner-radius;
  color: hint($on-system);
  @include type(button);

  &:focus {
    background-color: focus-overlay($on-system);
  }

  &:hover {
    background-color: hover-overlay($on-system);
  }

  &:active {
    transition-duration: $duration-ripple;
    background-color: pressed-overlay($on-system);
  }
}

.login-dialog-not-listed-label {
}

.login-dialog-user-list-view {
  -st-vfade-offset: 1em;
}

.login-dialog-user-list {
  spacing: 12px;
  width: 23em;

  &:expanded .login-dialog-user-list-item {
    &:selected {
      background-color: focus-overlay($on-system);
    }

    &:logged-in {
      border-right: 2px solid $on-system;
    }
  }
}

.login-dialog-user-list-item {
  transition-duration: $duration;
  padding: 6px;
  border-radius: $corner-radius;
  color: inherit;

  &:focus {
    background-color: focus-overlay($on-system);
  }

  &:hover {
    background-color: hover-overlay($on-system);
  }

  &:active {
    transition-duration: $duration-ripple;
    background-color: pressed-overlay($on-system);
  }

  &:ltr .user-widget {
    padding-right: 1em;
  }

  &:rtl .user-widget {
    padding-left: 1em;
  }

  .login-dialog-timed-login-indicator {
    height: 2px;
    margin-top: 6px;
    background-color: $on-system;
  }
}

@if $version >= 3.36 {
  .login-dialog .user-icon StIcon {
    background-color: fill($on-system);
  }

  .user-widget-label {
    color: inherit;
  }

  .user-widget.horizontal .user-widget-label {
    padding-left: 16px;
    @include type(headline6);
    text-align: left;

    &:ltr {
      padding-left: 14px;
      text-align: left;
    }

    &:rtl {
      padding-right: 14px;
      text-align: right;
    }
  }

  .user-widget.vertical .user-widget-label {
    padding-top: 16px;
    @include type(headline5);
    text-align: center;
  }
} @else {
  .login-dialog-username,
  .user-widget-label {
    padding-left: 16px;
    @include type(headline6);
    text-align: left;
  }

  .user-widget-label {
    &:ltr {
      padding-left: 14px;
      text-align: left;
    }

    &:rtl {
      padding-right: 14px;
      text-align: right;
    }
  }
}

.login-dialog-prompt-layout {
  width: 23em;
  padding-top: 24px;
  padding-bottom: 12px;
  spacing: 8px;
}

.login-dialog-prompt-label {
  color: hint($on-system);
  font-size: 1em;
  padding-top: 1em;
}

.cancel-button,
.switch-user-button,
.login-dialog-session-list-button {
  transition-duration: $duration;
  width: $medium-size;
  height: $medium-size;
  min-width: 0;
  min-height: 0;
  padding: 0;
  border-radius: $medium-size / 2;
  color: hint($on-system);

  &:focus {
    background-color: focus-overlay($on-system);
  }

  &:hover {
    background-color: hover-overlay($on-system);
  }

  &:active {
    transition-duration: $duration-ripple;
    background-color: pressed-overlay($on-system);
  }

  StIcon {
    icon-size: 16px;
  }
}
