$variant: 'light';
$topbar: 'dark';
$compact: 'false';
$version: 3.36;

@import '../../variables';
@import '../../colors';
@import '../sass/variables';
@import '../sass/drawing';
@import '../sass/components';
@import '../sass/extensions';
