/********
 * Nemo *
 *******/
.nemo-window .nemo-inactive-pane .view {
        background-color: $alt_base_color;
        color: $fg_color;
}
.nemo-window .sidebar .cell {
		background-color: $bg_color;
		color: $fg_color;
		&:selected {
		    color: $inverse_fg_color;
		    background-color: $primary_color;
		}
}
.nemo-desktop.nemo-canvas-item {
  color: $inverse_fg_color;
  text-shadow: $shadow_1;
  &:selected {
      text-shadow: none;
  }   
}
