$variant: 'light';
$topbar: 'dark';
$compact: 'true';
$version: 3.26;

@import '../../_sass/variables';
@import '../../_sass/colors';
@import '../../_sass/gnome-shell/variables';
@import '../../_sass/gnome-shell/drawing';
@import '../../_sass/gnome-shell/components';
@import '../../_sass/gnome-shell/extensions';
