//
// Font families
//

$font-family: "M+ 1c", Roboto, Cantarell, Sans-Serif;
$font-family-large: Roboto, "M+ 1c", Cantarell, Sans-Serif;

//
// Font sizes
//

$font-size: 14px;
$font-size-subheading: 16px;

@if $compact {
  $font-size: 14px; // or should be 13px?
  $font-size-subheading: 15px;
}

//
// Override sizes
//

$menuitem-size: 32px;
$panel-button-hpadding: 12px;

@if $compact {
  $menuitem-size: 28px;
  $panel-button-hpadding: 8px;
}

//
// Override durations; since St does not support transition-timing-function
//

$duration: 100ms;
$duration-ripple: 200ms;
$duration-panel: 250ms;

//
// Override shadows
//

// This should be none, but it's creating some issues with borders, so to
// workaround it for now, use inset wich goes through a different code path.
// see https://bugzilla.gnome.org/show_bug.cgi?id=752934
$shadow-0: 0 0 transparent;

$shadow-1: 0 1px 1.5px rgba(black, 0.12), 0 1px 1px rgba(black, 0.24);
$shadow-2: 0 3px 3px rgba(black, 0.16 * 1.5), 0 3px 3px rgba(black, 0.23 * 1.5);
$shadow-3: 0 10px 10px rgba(black, 0.19 * 1.5), 0 6px 3px rgba(black, 0.23 * 1.5);
$shadow-4: 0 14px 14px rgba(black, 0.25 * 2), 0 10px 5px rgba(black, 0.22 * 2);
$shadow-5: 0 19px 19px rgba(black, 0.30 * 2), 0 15px 6px rgba(black, 0.22 * 2);
