/*********
 * Tilix *
 *********/
overlay > revealer {
  &.left > scrolledwindow.frame,
  &.right > scrolledwindow.frame {
    border-style: none;
    box-shadow: $shadow_4;
  }

  &.left > scrolledwindow.frame { margin-right: 32px; }

  &.right > scrolledwindow.frame { margin-left: 32px; }
}

.terminix-session-sidebar, // for backwards compatibility
.tilix-session-sidebar { background-image: image($lighter_bg_color); }

button.image-button.session-new-button { min-width: $medium_size - 4px; }


/***********
 * Eclipse *
 ***********/
window.background > box.vertical > scrolledwindow > widget toolbar {
  padding: 2px;

  separator,
  button { margin: 2px; }

  button { border-radius: 2px; }
}


/***********
 * Firefox *
 ***********/
$firefox_border_color: scale-alpha($black, 0.2);

window.background:not(.csd) {
  > widget {
    // for the bookmark toolbar's separators
    > separator { color: $firefox_border_color; }

    // avoid black border
    > scrollbar { background-clip: border-box; }

    // emphasize borders color
    > scrollbar,
    > frame > border { border-color: $firefox_border_color; }

    > entry,
    > button > button {
      border: 1px solid $firefox_border_color;
      border-radius: 2px + 1px;
      box-shadow: none;
    }

    > entry {
      min-height: 32px - 2px;

      &:focus { border-color: $primary_color; }
    }

    > button > button {
      padding: 4px 8px;
      background-size: auto;
      // color: $fg_color;

      &:hover { background-image: image(gtkalpha(currentColor, 0.1 / 2)); }

      &:active { background-image: image(gtkalpha(currentColor, 0.1)); }
    }
  }

  // remove ugly border around the menus
  > window > menu,
  > menu > menu { border: none; }

  // use 16px assets for hard-coded sizing
  > window.background > menu > menuitem > check,
  > widget > checkbutton > check {
    & {
      border-radius: 2px;
      -gtk-outline-radius: 2px;
      -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-checkbox-unchecked-symbolic.svg")),
                              -gtk-recolor(url("assets/scalable/small-checkbox-unchecked-symbolic.symbolic.png")));
    }

    &:checked {
      -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-checkbox-checked-symbolic.svg")),
                              -gtk-recolor(url("assets/scalable/small-checkbox-checked-symbolic.symbolic.png")));
    }

    &:indeterminate {
      -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-checkbox-mixed-symbolic.svg")),
                              -gtk-recolor(url("assets/scalable/small-checkbox-mixed-symbolic.symbolic.png")));
    }
  }

  > window.background > menu > menuitem > radio,
  > widget > radiobutton > radio {
    & {
      border-image: none;
      -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-radio-unchecked-symbolic.svg")),
                              -gtk-recolor(url("assets/scalable/small-radio-unchecked-symbolic.symbolic.png")));
    }

    &:checked {
      -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-radio-checked-symbolic.svg")),
                              -gtk-recolor(url("assets/scalable/small-radio-checked-symbolic.symbolic.png")));
    }

    &:indeterminate {
      -gtk-icon-source: image(-gtk-recolor(url("assets/scalable/small-radio-mixed-symbolic.svg")),
                              -gtk-recolor(url("assets/scalable/small-radio-mixed-symbolic.symbolic.png")));
    }
  }
}

// Firefox now uses this for selected items
text:selected { @extend %selected_items; }

// for backwards compatibility
window.background:not(.csd) {
  > widget {
    > menubar {
      color: $secondary_titlebar_fg_color;

      &:hover { color: $titlebar_fg_color; }

      &:disabled { color: $disabled_secondary_titlebar_fg_color; }
    }

    > frame { color: $firefox_border_color; }

    > checkbutton > check,
    > radiobutton > radio {
      margin: 0;
      padding: 0;
    }
  }

  > window.background > menu > separator { color: $border_color; }
}


/***********
 * Synapse *
 ***********/
box.vertical > widget > widget:selected { background-color: $primary_color; }
