// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@import 'color-palette';
$grey_850: #303030; // extra color from Material Design Guidelines

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

// Foreground colors
$dark_fg_color:  rgba($black, 0.87);
$light_fg_color: $white;

$fg_color:                    if($variant == 'light', rgba($black, 0.87), $white);
$button_fg_color:             if($variant == 'light', rgba($black, 0.62), rgba($white, 0.8)); // extra fg color for raised buttons
$secondary_fg_color:          if($variant == 'light', rgba($black, 0.54), rgba($white, 0.7));
$hint_fg_color:               if($variant == 'light', rgba($black, 0.38), rgba($white, 0.5));
$disabled_fg_color:           if($variant == 'light', rgba($black, 0.38), rgba($white, 0.5));
$disabled_secondary_fg_color: if($variant == 'light', rgba($black, 0.26), rgba($white, 0.3));
$track_color:                 if($variant == 'light', rgba($black, 0.26), rgba($white, 0.3));
$divider_color:               if($variant == 'light', rgba($black, 0.12), rgba($white, 0.12));

$titlebar_fg_color:                    if($titlebar == 'light', rgba($black, 0.87), $white);
$titlebar_secondary_fg_color:          if($titlebar == 'light', rgba($black, 0.54), rgba($white, 0.7));
$titlebar_hint_fg_color:               if($titlebar == 'light', rgba($black, 0.38), rgba($white, 0.5));
$titlebar_disabled_fg_color:           if($titlebar == 'light', rgba($black, 0.38), rgba($white, 0.5));
$titlebar_disabled_secondary_fg_color: if($titlebar == 'light', rgba($black, 0.26), rgba($white, 0.3));
$titlebar_track_color:                 if($titlebar == 'light', rgba($black, 0.26), rgba($white, 0.3));
$titlebar_divider_color:               if($titlebar == 'light', rgba($black, 0.12), rgba($white, 0.12));

$inverse_fg_color:                    $white;
$inverse_secondary_fg_color:          rgba($white, 0.7);
$inverse_hint_fg_color:               rgba($white, 0.5);
$inverse_disabled_fg_color:           rgba($white, 0.5);
$inverse_disabled_secondary_fg_color: rgba($white, 0.3);
$inverse_track_color:                 rgba($white, 0.3);
$inverse_divider_color:               rgba($white, 0.12);

// Background colors
$bg_color:             if($variant == 'light', $grey_200, $grey_900);
$base_color:           if($variant == 'light', $white,    $grey_850);
$alt_base_color:       if($variant == 'light', $grey_100, mix($base_color, $bg_color, 50%));
$lighter_bg_color:     if($variant == 'light', $grey_50,  $grey_800);
$alt_lighter_bg_color: if($variant == 'light', $grey_200, $grey_850); // for gnome-shell sub menu
$darker_bg_color:      if($variant == 'light', $grey_200, $grey_900);

$titlebar_bg_color:     if($titlebar == 'dark', $grey_850, $grey_300);
$alt_titlebar_bg_color: if($titlebar == 'dark', $grey_850, $grey_300);

$panel_bg_color:         rgba($black, $middle_opacity);
$alt_panel_bg_color:     rgba($black, $lower_opacity);
$inverse_panel_bg_color: rgba($inverse_fg_color, 0.1);
$solid_panel_bg_color:   if($titlebar == 'dark', $grey_900, $panel_bg_color);
$opaque_panel_bg_color:  if($titlebar == 'dark', $grey_900, mix($grey_300, $grey_400, 50%)); // for Unity panel which cannot use translucent colors

$gdm_bg_color: $grey_850;

$fill_color:      gtkalpha(currentColor, $lower_opacity);
$semi_fill_color: gtkalpha(currentColor, $lower_opacity / 2);
$row_fill_color:  gtkalpha(currentColor, 0.05);

// Misc colors
$primary_color:         $blue_600;
$alt_primary_color:     $light_blue_A200;
$accent_color:          $teal_500;
$disabled_accent_color: rgba($accent_color, 0.5);

$link_color:         $primary_color;
$visited_link_color: $purple_A200;

$warning_color: $orange_A700;
$error_color:   $deep_orange_A700;
$success_color: $green_A700;

$suggested_color:   $accent_color;
$destructive_color: $red_A200;

$info_bg_color:     $green_400;
$question_bg_color: $blue_400;
$warning_bg_color:  $orange_400;
$error_bg_color:    $red_400;

$border_color:             if($variant == 'light', rgba($black, 0.12), rgba($black, 0.26));
$alt_border_color:         rgba($black, 0.26); // for non-native GTK+ apps (e.g. Firefox and Chrome)
$highlight_color:          if($variant == 'light', rgba($white, 0.4),  rgba($white, 0.1));
$titlebar_highlight_color: if($titlebar == 'dark', rgba($white, 0.1),  rgba($white, 0.4));
$alt_highlight_color:      rgba($white, 0.2); // for selection-mode headerbar which colored with $primary_color
$titlebar_indicator_color: if($titlebar == 'dark', currentColor, $primary_color);

// for Electron/Atom menu which cannot use translucent colors
$opaque_fg_color:           if($variant == 'light', $grey_900, $white);
$opaque_secondary_fg_color: if($variant == 'light', $grey_600, mix($white, $base_color, percentage(0.7)));
$opaque_disabled_fg_color:  if($variant == 'light', $grey_500, mix($white, $base_color, percentage(0.5)));
$opaque_divider_color:      if($variant == 'light', $grey_300, mix($white, $base_color, percentage(0.12)));

// FIXME: gtk's @placeholder_text_color API really should use $secondary_fg_color,
// but it doesn't work with translucent colors. So we use opaque colors instead.
$placeholder_text_color: if($variant == 'light',
                            mix($black, $base_color, percentage(0.54)),
                            mix($white, $base_color, percentage(0.7)));
