// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@import 'color-palette';

@function gtkalpha($c, $a) {
  @return unquote("alpha(#{$c}, #{$a})");
}

// Determine whether the color is "light" or "dark".
@function tone($color) {
  @if $color == "dark" or $color == "light" {
    @return $color;
  }

  // Calculate color brightness as per https://www.w3.org/TR/AERT/#color-contrast
  $brightness: (red($color) * 299 + green($color) * 587 + blue($color) * 114) / 1000;

  @if $brightness >= 128 {
    @return "light";
  } @else {
    @return "dark";
  }
}

// Determine whether to use dark or light color on top of given color to meet accessibility standards for contrast.
@function on($color, $type: text) {
  $contrast-tone: if(tone($color) == "dark", "light", "dark");

  @return map-get(map-get($on-colors, $contrast-tone), $type);
}

$on-colors: (
  dark: (
    primary: #1A73E8,
    error: #D93025,
    text: rgba(black, .87),
    text2: rgba(black, .6),
    text-disabled: rgba(black, .38),
    text2-disabled: rgba(black, .26),
    stroke: rgba(black, .26),
    stroke-disabled: rgba(black, .12),
    divider: rgba(black, .12),
    fill: rgba(black, .08),
    entry-fill: rgba(black, .04)
  ),
  light: (
    primary: #8AB4F8,
    error: #F28B82,
    text: white,
    text2: rgba(white, .7),
    text-disabled: rgba(white, .5),
    text2-disabled: rgba(white, .3),
    stroke: rgba(white, .3),
    stroke-disabled: rgba(white, .12),
    divider: rgba(white, .12),
    fill: rgba(white, .08),
    entry-fill: rgba(white, .04)
  )
);

// Determine the strength of highlight on top of given color.
@function highlight($color) {
  @if lightness($color) >= 80% {
    @return rgba(white, .4);
  } @else if lightness($color) >= 40% {
    @return rgba(white, .2);
  } @else {
    @return rgba(white, .1);
  }
}

// Do not use these variables in other files
$dark-background:                       #212121;
$dark-surface-1dp:                      mix(white, $dark-background, 5%);
$dark-surface-4dp:                      mix(white, $dark-background, 9%);
$dark-surface-8dp:                      mix(white, $dark-background, 12%);

//
// Basic colors
//

$background:                            if($variant == 'light', #F2F2F2, $dark-background);
$surface:                               if($variant == 'light', #FFFFFF, $dark-surface-8dp);
$base:                                  if($variant == 'light', #FFFFFF, $dark-surface-1dp); // semi-surface with 1dp elevation
$base-alt:                              if($variant == 'light', #FAFAFA, $dark-surface-1dp);

$os-background:                         $dark-background;
$tooltip:                               rgba(#616161, 0.9);
$scrim:                                 rgba(black, 0.6);
$scrim-alt:                             rgba(black, 0.3);
$scrim-inverse:                         rgba(white, 0.1);
$titlebar:                              if($topbar == 'dark', $dark-surface-4dp, #E0E0E0);
$titlebar-backdrop:                     if($topbar == 'dark', $dark-surface-1dp, #D6D6D6);
$panel:                                 if($topbar == 'dark', #1F1F1F, $scrim);
$panel-solid:                           if($topbar == 'dark', #1F1F1F, #CCCCCC); // for Unity panel which doesn't allow translucent colors

//
// Misc colors
//

$primary:                               on($background, primary);

$link:                                  $primary;
$link-visited:                          if($variant == 'light', $purple-500, $purple-200);

$error:                                 on($background, error);
$warning:                               if($variant == 'light', #F4B400, #FDD633);
$success:                               if($variant == 'light', #0F9D58, #81C995);

$suggested:                             $primary;
$destructive:                           $error;

$frame:                                 if($variant == 'light', rgba(black, 0.12), rgba(black, 0.26)); // instead of shadows
$border-alt:                            rgba(black, 0.26); // darker border color for Chrome and Firefox
$titlebar-indicator:                    if($topbar == 'dark', currentColor, $primary);

//
// Overlay state colors
//

$overlay-hover:                         gtkalpha(currentColor, 0.08);
$overlay-focus:                         gtkalpha(currentColor, 0.08);
$overlay-focus-hover:                   gtkalpha(currentColor, 0.16);
$overlay-active:                        gtkalpha(currentColor, 0.12);
$overlay-checked:                       gtkalpha(currentColor, 0.12);
$overlay-selected:                      rgba($primary, 0.24);

//
// Text and derivative colors
//

$text:                                  on($background);
$text2:                                 on($background, text2);
$text-disabled:                         on($background, text-disabled);
$text2-disabled:                        on($background, text2-disabled);
$stroke:                                on($background, stroke);
$stroke-disabled:                       on($background, stroke-disabled);
$divider:                               on($background, divider);
$fill:                                  on($background, fill);
$entry-fill:                            on($background, entry-fill);

$titlebar-text:                         on($titlebar);
$titlebar-text2:                        on($titlebar, text2);
$titlebar-text-disabled:                on($titlebar, text-disabled);
$titlebar-text2-disabled:               on($titlebar, text2-disabled);
$titlebar-stroke:                       on($titlebar, stroke);
$titlebar-stroke-disabled:              on($titlebar, stroke-disabled);
$titlebar-divider:                      on($titlebar, divider);
$titlebar-fill:                         on($titlebar, fill);
$titlebar-entry-fill:                   on($titlebar, entry-fill);

// workaround for GTK3 @placeholder_text_color which doesn't allow translucent colors
$placeholder_text_color:                if($variant == 'light', mix(black, $base, percentage(0.6)), mix(white, $base, percentage(0.7)));
