// the calendar displayed by the calendar applet is a heavily modified menu and inherits from the .menu selectosr
// indivudual elements within the menu can be themed seperately with these selectors
.calendar {
    padding: 4px 8px;
    spacing-rows: 2px;
    spacing-columns: 4px;
}
// also covers the year label
.datemenu-date-label {
      @include font(title);
      height: $menuitem_size - 2px * 2;
      margin: 2px;
      padding: 6px 16px;
      border-radius: 2px;
      color: $fg_color;
      text-align: center;
      &:focus { background-color: $divider_color }; 
}
.calendar-month-label {
      @include font(body-2);
      height: $menuitem_size - 6px * 2;
      margin: 2px;
      padding: 6px 16px;
      border-radius: 2px;
      color: $fg_color;
      text-align: center;
      &:focus { background-color: $divider_color }; 
}
.calendar-change-month-back {
    @extend %calendar-shared;
    background-image: url(assets/calendar-arrow-left.svg);
    &:rtl {
        background-image: url(assets/calendar-arrow-right.svg);
    }
}
.calendar-change-month-forward {
    @extend %calendar-shared;
    background-image: url(assets/calendar-arrow-right.svg);
    &:rtl {
        background-image: url(assets/calendar-arrow-left.svg);
    }
}
.calendar-day-base {
    @include font(caption);
    text-align: center;
    width: $menuitem_size; height: $menuitem_size;
    padding: 0;
    margin: 2px;
    border-radius: 100px;
    &:hover,&:focus { background-color: $track_color; }
    &:active {
        color: $inverse_fg_color;
        background-color: $accent_color;
        border-color: transparent; 
    }
}
.calendar-week-number {
    width: $menuitem_size - 7px; height: $menuitem_size;
    margin: 2px;
    padding: 0;
    border-radius: 100px;
    background-color: transparent;
    color: $hint_fg_color;
    @include font(caption);
    text-align: center;
}
.calendar-day-heading  {
    width: $menuitem_size; height: $menuitem_size - 7px;
    margin: 2px;
    padding: 0;
    border-radius: 100px;
    background-color: transparent;
    color: $hint_fg_color;
    @include font(caption);
    text-align: center;
}
.calendar-day {
    border-width: 0;
}
.calendar-day-top { 
    border-top-width: 0; 
}
.calendar-day-left {
    border-left-width: 0; 
}
.calendar-work-day {
}
.calendar-nonwork-day {
    color: $fg_color;
}
.calendar-today {
    font-weight: bold;
    border: none;
}
.calendar-day-with-events {
    color: $link_color;
    font-weight: normal;
    text-decoration: underline;
    background-image: none;
}
.calendar-other-month-day {
    color: $disabled_secondary_fg_color;
    opacity: 0.5;
}
.calendar-week-number {
    width: $menuitem_size; height: $menuitem_size - 7px;
    margin: 2px;
    padding: 7px 0 0;
    border-radius: 100px;
    background-color: transparent;
    color: $hint_fg_color;
    font-size: inherit;
    font-weight: bold;
    text-align: center;
}
