.menu {
    @extend %shared-menu;
    min-width: 100px;
    margin: 4px;
}
// scale view right click menu
.popup-combo-menu {
    @extend %shared-menu;
    padding: 8px;
}
.popup-sub-menu {
    background-color: $alt_lighter_bg_color;
}
.popup-menu-arrow {
    icon-size: 1.14em;
}
.popup-menu-content{
    padding: 8px;
}

// individual menu entries are themed here
.popup-menu-item {
	padding: 0.4em 4px;
	transition-duration: $shorter_duration;
    &:active {
      background-color: $track_color;
      color: $fg_color;
      transition-duration: $longer_duration;
    }
    &:insensitive { color: $disabled_fg_color; }
  }
.popup-image-menu-item {
    color: $secondary_fg_color;
}
.popup-combobox-item {
    padding: 0.4em 4px;
}
// sliders and separators in menus
.popup-separator-menu-item {
    @extend %separator-shared;
}
.popup-slider-menu-item {
    @extend %slider-shared;
}
.popup-device-menu-item {
    spacing: .5em;
}
.popup-inactive-menu-item {
    color: $fg_color;
    &:insensitive { color: $hint_fg_color; }
}
.popup-subtitle-menu-item {
    font-weight: bold;
}
.popup-menu-icon {
    icon-size: 1.14em;
    padding: 0px 4px;
}
.popup-menu-item-dot {
}
.popup-submenu-menu-item:open {
}
.popup-alternating-menu-item:alternate {
    font-weight: bold;
}
// toggles in menus
.toggle-switch {
   width: 40px;
   height: 20px;
}
.toggle-switch-us, .toggle-switch-intl {
    background-image: url("assets/toggle-off.svg");
    &:checked {
        background-image: url("assets/toggle-on.svg");
    }
}
.nm-menu-item-icons {
    spacing: .5em;
    icon-size: 1.14em;
}
// all the remaining code is for the main menu applet
.menu-favorites-box {
    padding: 8px;
}
.menu-favorites-button {
    padding: 0.4em 4px;
    &:hover {
       background-color: $divider_color;
       border-radius: 2px;
       color: $fg_color;
    }
}
.menu-categories-box {
    padding: 8px;
}
.menu-applications-inner-box {
    padding: 8px;
}
.menu-applications-outer-box {
    padding: 8px;
    border-radius: 2px;
}
.menu-application-button {
    padding: 0.4em 4px;
    &:highlighted {
        font-weight: bold;
    }
}
.menu-application-button-selected {
    padding: 0.4em 4px;
    background-color: $divider_color;
    border-radius: 2px;
    color: $fg_color;
    &:highlighted {
        font-weight: bold;
    }
}
.menu-application-button-label {
    @extend %menu-button-label-shared;
}
.menu-category-button {
	padding: 0.4em 4px;
}
.menu-category-button-greyed {
    padding: 0.4em 4px;
    color: $secondary_fg_color;
    font-style: italic;
}
.menu-category-button-selected {
    padding: 0.4em 4px;
    background-color: $divider_color;
    border-radius: 2px;
    color: $fg_color;
    &:hover {
    }
}
.menu-category-button-label {
    @extend %menu-button-label-shared;
}
// in the stock menu app descriptions are shown at the base of the menu
.menu-selected-app-box {
    padding: 8px;
    margin-bottom: 4px;
    text-align: right;
    &:rtl {
        text-align: left;
    }
}
.menu-selected-app-title {
    @include font(caption);
}
.menu-selected-app-description {
    max-width: 150px;
    @include font(caption);
}
// the menus search box
.menu-search-box {
    &:ltr {
        padding-left: 30px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
    &:rtl {
        padding-right: 30px;
        padding-bottom: 5px;
        padding-top: 5px;
    }
}
#menu-search-entry {
    @extend %dialog-entry;
}
.menu-search-entry-icon {
    icon-size: 1em;
    padding: 0 0;
    color: $hint_fg_color;
}
