// scale and expo views
#overview {
    spacing: 12px;
}
.workspace-controls {
    visible-height: 32px;
}
.workspace-thumbnails-background {
    color: $titlebar_secondary_fg_color;
    background-color: $inverse_panel_bg_color;
    border: none;
    padding: 8px;
    border-radius: 2px 0 0 2px;
    &:rtl { border-radius: 0 2px 2px 0;}
}
.workspace-thumbnails {
    spacing: 32px;
}
.workspace-add-button {
    background-image: url(assets/add-workspace.svg);
    height: 200px;
    width: 35px;
    transition-duration: shorter_duration;
    &:hover {
        background-image: url(assets/add-workspace-hover.svg);
    }
    &:active {
        background-image: url(assets/add-workspace-active.svg);
    }
}
.workspace-close-button, .window-close {
    background-image: url(assets/close-window.svg);
    height: 32px;
    width: 32px;
    -cinnamon-close-overlap: 16px;
    &:rtl {
        -st-background-image-shadow: 2px 2px 6px rgba(0,0,0,0.5);
    }
}
// this always looks better semi transparent
.workspace-overview-background-shade {
    background-color: $panel_bg_color;
}
.window-caption {
    @include font(caption);
    background-color: rgba(0, 0, 0, 0.01);
    color: $titlebar_hint_fg_color;
    padding: 4px 6px;
    text-align: center;
    height: 1.5em;
    -cinnamon-caption-spacing: 12px;
    &#selected {
        color: $titlebar_fg_color;
        box-shadow: 0 -3px 0 0 $accent-color inset;
    }
}
.window-close-area {
    background-image: url(assets/trash-icon.png);
    background-size: 100px;
    background-color: $alt_panel_bg_color;
    border: 1px solid $border_color;
    border-bottom-width: 0;
    border-radius: 20px 20px 0 0;
    height: 120px;
    width: 400px;
}
.expo-background {
    background-color: $panel_bg_color;
}
.expo-workspace-thumbnail-frame {
    border: 1px solid $border_color;
    &#active {
        border: 1px solid $accent_color;
    }
}
.expo-workspaces-name-entry {
    @include font(body-1);
    background-color: rgba(0, 0, 0, 0.01);
    color: $titlebar_hint_fg_color; 
    padding: 4px 6px;
    selection-background-color: $titlebar_track_color;
    selected-color: $titlebar_fg_color;
    caret-color: $titlebar_hint_fg_color;
    text-align: center;
    height: 1.5em;
    -cinnamon-caption-spacing: 12px;
    &#selected {
        box-shadow: 0 -3px 0 0 $accent-color inset;
    }
    &:focus {
        color: $titlebar_fg_color;
    }
    &:hover {   
    }
}
// hot corners animation
.ripple-box {
    width: 104px;
    height: 104px;
    background-image: url(assets/corner-ripple.png);
    background-color: $accent_color;
    border-radius: 52px;
}
