// panels can be on any side of the screen
// some panel item theming is specific to panel orientation and is included in this section
// each panel is also split into three zones
// dnd is for panel edit mode
// dummy is for adding or moving panels
#panel {
    color: $titlebar_secondary_fg_color;
    background-color: $panel-bg-color;
    height: 2.5em;
    width: 3.2em;
    &:highlight {
        background-color: $titlebar_track_color;
    }
}
.panel-dummy {
    background-color: rgba(255, 0, 0, 0.6);
    &:entered {
        background-color: rgba(0, 255, 0, 0.6);
    }
}
.panelLeft {
    spacing: 4px;
    &:dnd {
        background-color: rgba(255, 0, 0, 0.6);
    }
    &:ltr {
        padding-right: 4px;
    }
    &:rtl {
        padding-left: 4px;
    }
    &.vertical {
        padding: 0;
        &:dnd {
        }
    }
}
.panelCenter {
    spacing: 4px;
    &:dnd {
        background-color: rgba(0, 255, 0, 0.6);
    }
    &.vertical {
        padding-left: 0;
        padding-right: 0;
        &:dnd {
        }
    }
}
.panelRight {
    spacing: 4px;
    &:dnd {
        background-color: rgba(0, 0, 255, 0.6);
    }
    &:ltr {
        padding-left: 0;
        spacing: 0;
    }
    &:rtl {
        padding-right: 0;
        spacing: 0;
    }
    &.vertical {
        padding: 0;
        &:dnd {
        }
    }
}
// panel borders must be defined with a border-top color or other color definition that encompasses border-top
// panels do not support different colors of borders on different edges
// due to a bug in cinnamons placing of panel items on a bordered panel small margins are used to ensure that bordered panel objects
// do not overlap the panel border
.panel-top {
    .window-list-item-box {
        &:hover {
            box-shadow: 0 3px 0 0 $accent-color inset;
        }
        &:active, &:checked, &:focus {
            background-color: $titlebar_track_color;
            color: $titlebar_fg_color;
            &:hover {
                box-shadow: 0 3px 0 0 $accent-color inset;
            }
        }
    }
    .workspace-switcher, .workspace-graph, .workspace-button {
        padding: 1px 4px;
    }
    .workspace-graph, .workspace-button {;
        &:hover {
            box-shadow: 0 3px 0 0 $accent-color inset;
        }
    }
    .applet-box {
        padding: 1px 4px;
        margin: 1px 0;
        &:hover {
            box-shadow: 0 3px 0 0 $accent-color inset;
        }
    }
    .applet-label {
    }
    .panel-launchers .launcher:hover {
        box-shadow: 0 3px 0 0 $accent-color inset;
    }
    .applet-separator {
        padding: 3px 4px;
    }
    .systray:hover {
        box-shadow: 0 4px 0 0 $accent-color inset;
    }
}
.panel-bottom {
    .window-list-item-box {
        &:hover {
            box-shadow: 0 -3px 0 0 $accent-color inset;
        }
        &:active, &:checked, &:focus {
            background-color: $titlebar_track_color;
            color: $titlebar_fg_color;
            &:hover {
                box-shadow: 0 -3px 0 0 $accent-color inset;
            }
        }
    }
    .workspace-switcher, .workspace-graph, .workspace-button {
        padding: 1px 4px;
    }
    .workspace-graph, .workspace-button {;
        &:hover {
            box-shadow: 0 -3px 0 0 $accent-color inset;
        }
    }
    .applet-box {
        padding: 1px 4px;
        margin: 1px 0;
        &:hover {
            box-shadow: 0 -3px 0 0 $accent-color inset;
        }
    }
    .applet-label {
    }
    .panel-launchers .launcher:hover {
        box-shadow: 0 -3px 0 0 $accent-color inset;
    }
    .applet-separator {
        padding: 3px 4px;
    }
    .systray:hover {
        box-shadow: 0 4px 0 0 $accent-color inset;
    }
}
.panel-left {
    .window-list-item-box {
        &:hover {
            box-shadow: 3px 0 0 0 $accent-color inset;
        }
        &:active, &:checked, &:focus {
            background-color: $titlebar_track_color;
            color: $titlebar_fg_color;
            &:hover {
                box-shadow: 3px 0 0 0 $accent-color inset;
            }
        }
    }
    .workspace-switcher, .workspace-graph, .workspace-button {
        padding: 1px 4px;
    }
    .workspace-graph, .workspace-button {;
        &:hover {
            box-shadow: 3px 0 0 0 $accent-color inset;
        }
    }
    .applet-box {
        padding: 4px 1px;
        margin: 0 1px;
        &:hover {
            box-shadow: 3px 0 0 0 $accent-color inset;
        }
    }
    .applet-label {
    }
    .panel-launchers .launcher:hover {
        box-shadow: 3px 0 0 0 $accent-color inset;
    }
    .applet-separator {
        padding: 4px 3px;
    }
    .systray:hover {
        box-shadow: 4px 0 0 0 $accent-color inset;
    }
}
.panel-right {
        .window-list-item-box {
        &:hover {
            box-shadow: -3px 0 0 0 $accent-color inset;
        }
        &:active, &:checked, &:focus {
            background-color: $titlebar_track_color;
            color: $titlebar_fg_color;
            &:hover {
                box-shadow: -3px 0 0 0 $accent-color inset;
            }
        }
    }
    .workspace-switcher, .workspace-graph, .workspace-button {
        padding: 1px 4px;
    }
    .workspace-graph, .workspace-button {;
        &:hover {
            box-shadow: -3px 0 0 0 $accent-color inset;
        }
    }
    .applet-box {
        padding: 4px 1px;
        margin: 0 1px;
        &:hover {
            box-shadow: -3px 0 0 0 $accent-color inset;
        }
    }
    .applet-label {
    }
    .panel-launchers .launcher:hover {
        box-shadow: -3px 0 0 0 $accent-color inset;
    }
    .applet-separator {
        padding: 4px 3px;
    }
    .systray:hover {
        box-shadow: -4px 0 0 0 $accent-color inset;
    }
}
// a non feature - not worth themeing
.panel-corner {
    &:active {
    }
    &:overview {
    }
    &:focus {
    }
}
// remaining code is for panel items starting with the generic applets
.applet-separator-line, .applet-separator-line-vertical {
    width: 2px;
    background: $titlebar_divider_color;
}
.applet-spacer:highlight {
    background: $highlight_color;
}
.applet-box {
    background-color: rgba(0, 0, 0, 0.01);
    color: $titlebar_secondary_fg_color;
    transition-duration: $shorter_duration;
    &:checked {
        color: $titlebar_fg_color;
        .applet-label {
            color: $titlebar_fg_color;
        }
    }
    &:hover {
        color: $titlebar_fg_color;
        .applet-label {
            color: $titlebar_fg_color;
        }
    }
    &:highlight {
        background: $titlebar_track_color;
        color: $titlebar_fg_color;
        .applet-label {
            color: $titlebar_fg_color;
        }
    }
}
.applet-label {
    @include font(body-2);
    color: $titlebar_secondary_fg_color;
}
// icon-size set to 22 to match hard-coded menu icon size - applet-icon style is used for search provider results in menu
.applet-icon {
    color: $titlebar_secondary_fg_color;
    padding: 0;
    spacing: 0;
    icon-size: 22px;
}
// used by power applet to warn of low battery
.system-status-icon {
    icon-size: 1.14em;
    padding: 0;
    spacing: 0;
    &.warning {
        color: $warning_color;
    }
    &.error {
        color: $error_color;
    }
}
// possibily deprecated - referenced in keyboard applet only
.panel-status-button {
    -natural-hpadding: 4px;
    -minimum-hpadding: 4px;
    font-weight: bold;
    color: $titlebar_secondary_fg_color;
    height: 2em;
    &:hover {
        color: $titlebar_fg_color;
    }
}
// user applet specific themeing
.user-box {
    padding: 0.4em 1.3em;
    spacing: 10px;
}
.user-icon {
    padding: 4px;
}
.user-label {
    color: $titlebar_secondary_fg_color;
    font-weight: bold;
}
// the window list applet. Some third party applets inherit some of this theming.
.window-list-box {
    @include font(caption);
    
    spacing: 4px;
    padding: 0 3px;
    &.vertical {
        spacing: 4px;
        padding: 3px 0;
    }
    #appMenuIcon {
    }
    &:highlight {
        background: $titlebar_track_color;
        color: $titlebar_fg_color;
        }
}
.window-list-item-label {
}
// progress was added with cinnamon 3.6 and allows compatible applications to use the window list as a progress bar
.window-list-item-box {
    background-color: rgba(0, 0, 0, 0.01);
    transition-duration: $shorter_duration;
    &:hover {
        color: $titlebar_fg_color;
    }
    &:highlight {
    }
    .progress {
        background-color: $success_color;
    }
}
.window-list-item-demands-attention {
    background-color: $info_bg_color;
    color: $titlebar_secondary_fg_color;
}
// cinnamon 3.8 will support an improved window-list-thumbnail preview which now has it's own selector
.window-list-preview {
    background-color: $bg_color;
    border-radius: 2px;
    padding: 10px 15px;
    spacing: 1em;
    color: $fg_color;
}
// the sound player applet
.sound-player {
    StButton {
        @extend %icon-button-shared;
        &:small {
            min-width: $small_size;
            min-height: $small_size;
            padding: 4px;
            StIcon {
                icon-size: 1em;
            }
        }
        StIcon {
            icon-size: 1.5em;
        }
    }
    .slider {
        @extend %slider-shared;
        height: 5px;
    }
    StBoxLayout {
        spacing: 0.5em;
    }
    > StBoxLayout {
        padding: 5px;
    }
}
.sound-player-generic-coverart {
    background: rgba(0,0,0,0.2);
}
.sound-player-overlay {
    background-color: $alt_lighter_bg_color;
    min-width: 300px;
    padding: 12px 16px;
    spacing: 0.5em;
    color: $secondary_fg_color;
}
// workspace switcher applet simple button view
.workspace-button {
    background-color: $opaque_panel_bg_color;
    width: 2em;
    height: 1em;
    color: $titlebar_secondary_fg_color;
    margin: 2px;
    &:outlined {
        background-color: $titlebar_track_color;
        color: $titlebar_fg_color;
    }
}
// workspace switcher applet graph view
.workspace-graph {
     background-color: $panel_bg_color;
    .workspace {
        background-color: $opaque_panel_bg_color;
        border: 1px solid $border_color;
        &:active {
            background-color: $titlebar_track_color;

            border: 1px solid $border_color;
            .windows {
                -active-window-background: rgba(255, 255, 255, 0.8);
                -active-window-border: rgba(0, 0, 0, 0.9);
                -inactive-window-background: rgba(140, 140, 140, 0.8);
                -inactive-window-border: rgba(0, 0, 0, 0.7);
            }
        }
        .windows {
            -active-window-background: rgba(140, 140, 140, 0.8);
            -active-window-border: rgba(0, 0, 0, 0.7);
            -inactive-window-background: rgba(140, 140, 140, 0.8);
            -inactive-window-border: rgba(0, 0, 0, 0.7);
        }
    }
}
// most panel launcher themeing is orientation specific
.panel-launchers {
    padding: 0 4px;
    spacing: 4px;
    transition-duration: $shorter_duration;
    .launcher {
        background-color:rgba(0, 0, 0, 0.01);
    }
    &.vertical {
        padding: 4px 0;
        spacing: 4px;
        .launcher .icon-box {
            padding-top: 0;
        }
    }
}
.notification-applet-padding {
    padding: .5em 1em;
}
.notification-applet-container {
    max-height: 100px;
}
.systray {
    spacing: 4px;
    background-color:rgba(0, 0, 0, 0.01);
}
.flashspot {
    background-color: $accent_color;
}

