/**
 * Tilix
 */

overlay > revealer {
  &.left > scrolledwindow.frame,
  &.right > scrolledwindow.frame {
    border-style: none;
    box-shadow: $shadow-z16;
  }

  &.left > scrolledwindow.frame {
    margin-right: 32px;
  }

  &.right > scrolledwindow.frame {
    margin-left: 32px;
  }
}

.terminix-session-sidebar, // for backward compatibility
.tilix-session-sidebar {
  background-image: image($surface);
}

.terminal-titlebar button {
  border-radius: 0;
}

button.image-button.session-new-button {
  min-width: $medium-size - 4px;
}

// Remove extra padding
notebook.tilix-background tab > box > stack {
  margin: -6px;
}

button.flat.tilix-small-button {
  // NOTE: padding is hard-coded with:
  // padding: 2px 4px;
  min-height: $small-size - 2px * 2;
  min-width: $small-size - 4px * 2;
}

/**
 * Terminator
 */

.terminator-terminal-window {
  paned > separator {
    background-color: $background;
  }

  // this should be fixed by the upstream
  notebook.frame {
    border-style: none;
  }
}

/**
 * Ubitquity
 */

#live_installer .menubar progressbar trough {
  border-radius: 4px; // Adjust to hard-coded progress border-radius
  background-color: $titlebar-stroke-disabled;
}

/**
 * Eclipse
 */

window.background > box.vertical > scrolledwindow > widget toolbar {
  padding: 2px;

  separator,
  button {
    margin: 2px;
  }

  button {
    border-radius: $corner-radius;
  }
}

/**
 * FileZilla
 */

window.background > box.vertical > widget > widget > widget > widget > widget > widget > widget > scrolledwindow > widget {
  > entry {
    all: unset;
    padding: 5px;
    box-shadow: inset 0 0 0 1px $overlay-selected;
    background-color: $base;
  }

  > widget > entry {
    all: unset;
    padding: 0 3px 1px;
    box-shadow: inset 0 0 0 1px $overlay-selected;
    background-color: $base;
  }
}

/**
 * Chromium
 */

window.background.chromium {
  background-color: $surface;

  // FIXME: There is no way to change the color of the toolbar buttons
  toolbar button {
    // color: $text2;
  }

  // toolbar's border-bottom refers to button's border
  // FIXME: Chrome's button border ignores theme's alpha value :(
  entry,
  > button {
    border: 1px solid $stroke;
  }

  > button {
    color: $primary;

    &:disabled {
      color: $text2-disabled;
    }
  }

  menubar,
  headerbar {
    color: $titlebar-text2;
  }

  // Workaround for non-animatable buttons in headerbar
  headerbar button:active {
    background-color: $overlay-active;
  }

  spinner {
    color: $primary;
  }

  // For text field
  textview.view {
    background-color: transparent;
  }

  // For prominent button, starred icon, etc.
  treeview.view.cell:selected:focus {
    background-color: $primary;
    color: on($primary);
  }

  // For table header
  treeview.view button {
    border: 1px solid $stroke;
    background-color: $base; // FIXME: This should not be necessary
    // color: $text2;
  }
}

tooltip.background.chromium {
  background-color: rgba($tooltip, 1);
}

/**
 * Firefox
 */

#MozillaGtkWidget {
  > widget {
    // For popover, entry in toolbar, etc.
    text {
      background-color: $surface;
    }

    // For selection, active tab indicator, etc.
    text:selected {
      // Use traditional selection style as workaround
      background-color: $primary;
      color: on($primary);
    }

    // For separators in bookmark toolbar
    > separator {
      color: $divider;
    }

    // avoid black border
    > scrollbar {
      // background-clip: border-box;
    }

    // Emphasize toolbar's border-bottom
    > frame > border {
      // FIXME: On Wayland, translucent colors don't work well here.
      // See: https://github.com/nana-4/materia-theme/issues/467

      // border-color: $stroke;
      border-color: opacify($stroke, $background);
    }

    > entry,
    > button > button {
      border: 1px solid $stroke;
      border-radius: $corner-radius;
      box-shadow: none;

      &:disabled {
        border-color: $stroke-disabled;
      }
    }

    > entry {
      min-height: 32px - 2px;
      background-color: $base;

      &:focus {
        border-color: $primary;
        box-shadow: inset 0 0 0 1px $primary;
      }

      &:disabled {
        background-color: $base-alt;
      }
    }

    > button > button {
      padding: 4px 8px;
      background-size: auto;

      &:hover {
        box-shadow: inset 0 0 0 9999px $overlay-hover;
      }

      &:active {
        background-image: image($overlay-active);
      }
    }

    // use 16px assets for hard-coded sizing
    > checkbutton > check {
      @extend %small_check;
    }

    > radiobutton > radio {
      @extend %small_radio;
    }

    > checkbutton > check,
    > radiobutton > radio {
      margin: 0;
      padding: 0;
    }

    // make check/radio visible regardless of whether the background is bright or dark
    > checkbutton > check:not(:checked):not(:indeterminate),
    > radiobutton > radio:not(:checked):not(:indeterminate) {
      color: $grey-600;

      &:disabled {
        color: rgba($grey-600, .5);
      }
    }
  }

  // remove ugly border around the menus
  menu {
    border: none;
  }

  // Workaround: Firefox doesn't properly read color from
  // menuitem:disabled, but from menuitem label:disabled.
  menuitem label:disabled {
    color: $text-disabled;
  }
}

// for backward compatibility
#MozillaGtkWidget {
  > widget {
    > menubar {
      color: $titlebar-text2;

      &:hover {
        color: $titlebar-text;
      }

      &:disabled {
        color: $titlebar-text2-disabled;
      }
    }

    > frame {
      color: $stroke;
    }
  }

  menu > separator {
    color: $divider;
  }
}

/**
 * Inkscape
 */

#ToolboxCommon {
  > #AuxToolbox {
    #StyleSwatch {
      font-size: smaller;
    }

    #Kludge {
      padding: 0;
    }

    spinbutton,
    entry {
      min-height: 32px;
    }

    button:not(.up):not(.down) {
      min-height: 24px;
      min-width: 16px;
      padding: 4px 8px;
      border-radius: $corner-radius;
    }

    spinbutton button {
      border-width: 4px;
    }
  }

  > toolbar.vertical {
    margin-top: -4px;

    button {
      min-height: 24px;
      min-width: 24px;
      padding: 4px;
      border-radius: $corner-radius;
    }
  }
}

#CanvasTable {
  button {
    min-height: 16px;
    min-width: 16px;
    padding: 0;
  }

  #HorizontalScrollbar {
    border-top: 1px solid $divider;
  }

  #VerticalScrollbar {
    &:dir(ltr) {
      border-left: 1px solid $divider;
    }

    &:dir(rtl) {
      border-right: 1px solid $divider;
    }
  }
}

#Canvas_and_Dock {
  frame > border {
    border: none;
  }

  // each canvases' titlebar
  widget > widget {
    > button.flat {
      min-height: 16px;
      min-width: 16px;
      padding: 4px;
    }

    > box.horizontal image {
      padding: 4px;
    }
  }

  // vertical dock buttons
  box.horizontal > box.vertical > button.flat {
    min-height: 16px;
    min-width: 24px;
    padding: 8px 4px;
  }
}

/**
 * Synapse
 */

box.vertical > widget > widget:selected {
  @extend %selected_items;
}
