/********
 * Nemo *
 ********/

// based css:
// https://github.com/linuxmint/nemo/blob/master/gresources/nemo-style-fallback-mandatory.css
// https://github.com/linuxmint/nemo/blob/master/gresources/nemo-style-fallback.css
// hard-coded css:
// https://github.com/linuxmint/nemo/blob/master/gresources/nemo-style-application.css

.nemo-window {
  .primary-toolbar {
    border-bottom: 1px solid $divider;

    // FIXME: workaround for hard-coded border-width of GtkEventBox for entry
    stack > box {
      margin: -2px;
    }

    // instead of .path-bar button
    button.text-button {
      padding-left: 8px;
      padding-right: 8px;
    }

    // instead of .path-bar button.slider-button
    button:not(.text-button):not(.image-button) {
      padding-left: 4px;
      padding-right: 4px;
    }
  }

  scrolledwindow.frame {
    border-style: none;

    .view:not(:selected) {
      background-color: transparent;
    }
  }

  infobar {
    // The ugly 6px spacing has been removed since 3.8.0
    // margin-top: -6px;
  }

  // Inactive F3 pane shading
  .nemo-inactive-pane .view:not(:selected) {
    background-color: $base-alt;
  }

  // Rename entry styling in the icon view.
  .nemo-window-pane widget.entry {
    border-radius: $corner-radius;
    background-color: $entry-fill;

    &:selected {
      @extend %selected_items;
    }
  }

  .toolbar button {
    @extend %button-flat-activatable;
  }
}

// For Places Sidebar diskfull indicators
.places-treeview {
  -NemoPlacesTreeView-disk-full-bg-color: opacify($stroke-disabled, $base-alt); // Can't use translucent colors
  -NemoPlacesTreeView-disk-full-fg-color: $primary;
  -NemoPlacesTreeView-disk-full-bar-width: 2px;
  -NemoPlacesTreeView-disk-full-bar-radius: 0;
  -NemoPlacesTreeView-disk-full-bottom-padding: 1px; // There is already hard-coded 1px bottom-padding
  -NemoPlacesTreeView-disk-full-max-length: 80px;
}

.nemo-desktop.nemo-canvas-item {
  @extend %iconview-desktop;
}
