$variant: 'light';
$titlebar: 'dark';
$compact: 'false';

@import '../../_sass/gtk/variables';
@import '../../_sass/colors';
@import '../../_sass/gtk/drawing-3.18';
@import '../../_sass/gtk/common-3.18';
@import '../../_sass/gtk/apps-3.18';
@import '../../_sass/gtk/colors-public';
