// Rubberband for select-area screenshots
.select-area-rubberband {
  border: 1px solid primary($on-dark);
  background-color: rgba(primary($on-dark), .3);
}

// User icon
$user-icon: if($version >= 3.32, ".user-icon", ".framed-user-icon");

#{$user-icon} {
  border: 0;
  border-radius: $circular-radius;
  background-size: contain;
  color: inherit;

  &:hover {
    border-color: transparent;
    color: inherit;
  }
}

@mixin user-icon-size($size) {
  icon-size: $size;

  StIcon {
    width: $size / 2;
    height: $size / 2;
    padding: $size / 4;
  }
}

@if $version >= 3.36 {
  .user-icon {
    StIcon {
      background-color: fill($on-surface);
      border-radius: $circular-radius;
    }

    @if $version >= 40 {
      @include user-icon-size(64px);

      &.user-avatar {
        border: 0;
      }
    }
  }

  .user-widget.vertical .user-icon {
    @include user-icon-size(128px);
  }

  @if $version < 40 {
    .user-widget.horizontal .user-icon {
      @include user-icon-size(64px);
    }
  }
}

// Lightbox
.lightbox {
  background-color: black;
}

// Flashspot
.flashspot {
  background-color: white;
}

// Hidden
.hidden {
  color: transparent;
}

// Caps-lock warning
.caps-lock-warning-label {
  text-align: center;
  padding-bottom: 8px;
  font-size: 1em;
  color: $warning;
}
