/* Tiled window previews */

.tile-preview {
  border: 1px solid primary($on-dark);
  background-color: rgba(primary($on-dark), .3);
}

.tile-preview-left.on-primary {
  border-radius: 0;
}

.tile-preview-right.on-primary {
  border-radius: 0;
}

.tile-preview-left.tile-preview-right.on-primary {
  border-radius: 0;
}
