::-webkit-scrollbar,
::-webkit-scrollbar-corner {
  width: 17px;
  height: 17px;
  border: 0 solid rgba(255, 255, 255, 0.12);
  background-color: rgba(60, 60, 60, 0.9);
}

::-webkit-scrollbar:horizontal,
::-webkit-scrollbar-corner {
  border-top-width: 1px;
}

::-webkit-scrollbar:vertical,
::-webkit-scrollbar-corner {
  border-left-width: 1px;
}

::-webkit-scrollbar {
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb {
  width: 32px;
  height: 32px;
  border: 4px solid transparent;
  border-radius: 8px;
  background-color: rgba(255, 255, 255, 0.5);
  background-clip: padding-box;
}

::-webkit-scrollbar-thumb:horizontal {
  border-top-width: 5px;
  border-top-left-radius: 8px 9px;
  border-top-right-radius: 8px 9px;
}

::-webkit-scrollbar-thumb:vertical {
  border-left-width: 5px;
  border-top-left-radius: 9px 8px;
  border-bottom-left-radius: 9px 8px;
}

::-webkit-scrollbar-thumb:hover {
  background-color: rgba(255, 255, 255, 0.7);
}

::-webkit-scrollbar-thumb:active {
  background-color: white;
}

::-webkit-scrollbar-thumb:disabled {
  background-color: rgba(255, 255, 255, 0.3);
}

::selection {
  background-color: rgba(26, 115, 232, 0.24);
}
