// Rubberband for select-area screenshots
.select-area-rubberband {
  background-color: transparentize($selected_bg_color,0.7);
  border: 1px solid $selected_bg_color;
}

// User icon
.user-icon {
  background-size: contain;
  color: $osd_fg_color;
  border-radius: 99px;
  &:hover {
    color: lighten($osd_fg_color,30%);
  }
}

.lightbox { background-color: black; }
.flashspot { background-color: white; }


// Hidden
.hidden { color: rgba(0,0,0,0);}

// Caps-lock warning
.caps-lock-warning-label {
  text-align: center;
  padding-bottom: 8px;
  @include fontsize($base_font_size - 1);
  color: $warning_color;
}
