/* OVERVIEW */

@use "../../../../theme";
@use "../../../../theme-color";
@use "../../../../st-theme";
@use "../../gnome-shell";
@use "../../drawing";
@use "../base/scrollbar";

@if gnome-shell.$version >= 40 {
  .controls-manager,
  .secondary-monitor-workspaces {
    spacing: 16px;
  }

  #overviewGroup {
    background-color: theme-color.$system;
    color: theme-color.$on-system;

    StScrollBar {
      @extend %scrollbar-on-dark;
    }
  }
} @else {
  #overview {
    spacing: 24px;
    background-color: transparent;
    color: theme-color.$on-dark;

    StScrollBar {
      @extend %scrollbar-on-dark;
    }
  }

  .overview-controls {
    padding-bottom: 32px;
  }
}

@mixin panel {
  transition-duration: st-theme.$duration-panel;
  border: 0;
  background-color: theme-color.fill(theme-color.$on-dark);
  color: theme-color.$on-dark;
}

@mixin status-text {
  @include drawing.type(headline3);
  color: theme-color.disabled(theme-color.$on-dark);
}

@mixin item {
  @include _item;

  &:focus {
    @include _item-focus;
  }

  &:hover,
  &:selected {
    @include _item-hover;
  }

  &:active,
  &:checked {
    @include _item-active;
  }
}

@mixin icon {
  .overview-icon {
    @include _item;
  }

  &:focus {
    .overview-icon {
      @include _item-focus;
    }
  }

  &:drop,
  &:hover,
  &:selected {
    .overview-icon {
      @include _item-hover;
    }
  }

  &:active,
  &:checked {
    .overview-icon {
      @include _item-active;
    }
  }
}

@mixin _item {
  padding: 6px;
  border: 0;
  border-radius: theme.$corner-radius;
  background-color: transparent;
  color: inherit;
  text-align: center;
  transition-duration: st-theme.$duration;
}

@mixin _item-focus {
  border-image: none;
  background-image: none;
  background-color: theme-color.focus-overlay(theme-color.$on-dark);
  color: inherit;
  transition-duration: 0ms;
}

@mixin _item-hover {
  border: 0;
  border-image: none;
  background-image: none;
  background-color: theme-color.hover-overlay(theme-color.$on-dark);
  color: inherit;
  transition-duration: 0ms;
}

@mixin _item-active {
  box-shadow: none;
  background-color: theme-color.pressed-overlay(theme-color.$on-dark);
  color: inherit;
  transition-duration: st-theme.$duration-ripple;
}
