/* Window Picker */

// Window picker
.window-picker {
  // Space between window thumbnails
  -horizontal-spacing: 16px;
  -vertical-spacing: 16px;
  // Padding for container around window thumbnails
  padding: 0 16px 32px;

  &.external-monitor {
    padding: 16px;
  }
}

// Borders on window thumbnails
.window-clone-border {
  border: 4px solid stroke($on-dark);
  border-radius: $corner-radius;
  // For window decorations with round corners we can't match
  // the exact shape when the window is scaled. So apply a shadow
  // to fix that case
  box-shadow: inset 0 0 0 1px stroke($on-dark);
}

// Window titles
.window-caption {
  spacing: 0;
  padding: 4px 8px;
  border: 0;
  border-radius: $corner-radius;
  background-color: $scrim;
  color: $on-scrim;
  font-size: 1em;
  font-weight: normal;
}

// Close button
.window-close {
  @if $version <= 3.36 {
    -shell-close-overlap: $medium-size / 2;
  }

  // FIXME: unless disable the transition, button will distort when hovering
  // transition-duration: $duration;
  height: $medium-size;
  width: $medium-size;
  padding: 0;
  border: 0;
  border-radius: 0;
  box-shadow: none;
  background-color: transparent;
  color: transparent;

  -st-background-image-shadow: $shadow-1;
  background-image: url("assets/window-close.svg");
  background-size: $medium-size;

  &:hover {
    border-color: transparent;
    background-color: transparent;
    color: transparent;

    -st-background-image-shadow: $shadow-2;
    background-image: url("assets/window-close.svg");
  }

  &:active {
    border-color: transparent;
    background-color: transparent;
    color: transparent;

    // transition-duration: $duration-ripple;
    background-image: url("assets/window-close-active.svg");
  }
}
