/* Workspace pager */

// thumbnails in overview
.workspace-thumbnails {
  @if $version >= 40 {
    padding: 0;
    spacing: 12px;

    .workspace-thumbnail {
      @extend %overview-panel;
      border-radius: $corner-radius;
    }
  } @else {
    @extend %overview-panel;
    visible-width: 32px; // amount visible before hover
    padding: 12px;
    spacing: 12px;
    border-right-width: 0;
    border-radius: $corner-radius 0 0 $corner-radius;

    &:rtl {
      border-left-width: 0;
      border-radius: 0 $corner-radius $corner-radius 0;
    }
  }

  // drag and drop indicator
  .placeholder {
    background-image: url("assets/dash-placeholder.svg");
    background-size: contain;

    @if $version >= 40 {
      width: 24px;
    } @else {
      height: 24px;
    }
  }
}

// selected indicator
.workspace-thumbnail-indicator {
  border: 0 solid $on-dark;
  border-radius: 0;

  @if $version >= 40 {
    padding: 6px;
    border-bottom-width: 2px;
  } @else {
    padding: 6px 10px;
    border-left-width: 2px;
  }
}
