// floating status bar
.floating-bar {
  padding: 3px 0 4px;
  border-width: 1px;
  border-style: solid solid none;
  border-color: $border_color;
  border-radius: $material_radius + 1px $material_radius + 1px 0 0;
  background-color: rgba($base_color, 0.9);
  background-clip: $extra_background_clip;
  &.left {
    border-left-style: none;
    border-top-left-radius: 0;
  }
  &.right {
    border-right-style: none;
    border-top-right-radius: 0;
  }
  .button {
    padding: 4px;
  }
}

/************
 * Nautilus *
 ************/

EelEditableLabel.entry { transition: none; }

.nautilus-canvas-item {
  // border-radius: $material_radius;
}

.nautilus-canvas-item.dim-label,
.nautilus-list-dim-label {
  color: $secondary_fg_color;

  &:selected { color: $inverse_secondary_fg_color; }
}

.nautilus-desktop.nautilus-canvas-item {
  // background-color: $panel_bg_color;
  color: $inverse_fg_color;
  text-shadow: $shadow_1;
}

.nautilus-desktop.nautilus-canvas-item:selected {
  // color: $inverse_fg_color;
  text-shadow: none;
}

.nautilus-circular-button {
  @extend %image_button;
}

/* Toolbar */

@keyframes needs_attention_keyframes {
  0% {background-color: transparent; }
  50% {background-color: $fill_color; }
  100% {background-color: transparent; }
}
.nautilus-operations-button-needs-attention {
  color: $secondary_color;
  animation: needs_attention_keyframes 2s $standard_curve;
}
.nautilus-operations-button-needs-attention-multiple {
  color: $secondary_color;
  animation: needs_attention_keyframes 2s $standard_curve;
  animation-iteration-count: 2;
}

.disk-space-display {
  // border-style: solid;
  // border-width: 2px;
}

.disk-space-display.unknown {
  background-color: $warning_color;
}

.disk-space-display.used {
  background-color: $primary_color;
}

.disk-space-display.free {
  background-color: $fill_color;
  color: $disabled_fg_color;
}

/* View */
NautilusListView .view {
  // border-bottom: 1px solid $border_color;
}

/********
 * Nemo *
 *******/
NemoWindow .nemo-inactive-pane .view, NemoWindow .nemo-inactive-pane iconview {
        background-color: $alt_base_color;
        color: $fg_color;
}
NemoWindow .sidebar .cell {
		background-color: $bg_color;
		color: $fg_color;
		&:selected {
		    color: $inverse_fg_color;
		    background-color: $primary_color;
		}
}
.nemo-desktop.nemo-canvas-item {
  color: $inverse_fg_color;
  text-shadow: $shadow_1;
  &:selected {
      text-shadow: none;
  }   
}
/**************
 * Tweak Tool *
 **************/
// the sidebar
.tweak-categories {
  // padding: 4px 0;
  background-color: $alt_base_color;
  background-image: linear-gradient(to bottom, $alt_base_color);

  // hide separators
  .separator {
    -GtkWidget-wide-separators: true;
    color: transparent;
  }
}


/************
 * Software *
 ************/

.button.install-progress:insensitive { background-color: $fill_color; }


/***********
 * Builder *
 ***********/

GbTerminalView { background-color: $base_color; }


/***********
 * Firefox *
 ***********/
.menubar {
  color: $titlebar_secondary_fg_color;

  &:hover { color: $titlebar_fg_color; }
}


/***********
 * Synapse *
 ***********/
SynapseGuiMatchListView GtkWidget:selected { background-color: $primary_color; }


/*********
 * Unity *
 *********/
// Decorations
UnityDecoration {
  -UnityDecoration-extents: 28px 0 0 0;
  -UnityDecoration-input-extents: 8px;

  -UnityDecoration-shadow-offset-x: 0;
  -UnityDecoration-shadow-offset-y: 3px;
  -UnityDecoration-active-shadow-color: rgba(0, 0, 0, 0.48);
  -UnityDecoration-active-shadow-radius: 18px;
  -UnityDecoration-inactive-shadow-color: rgba(0, 0, 0, 0.32);
  -UnityDecoration-inactive-shadow-radius: 6px;

  -UnityDecoration-glow-size: 8px;
  -UnityDecoration-glow-color: $primary_color;

  -UnityDecoration-title-indent: 4px;
  -UnityDecoration-title-fade: 32px;
  -UnityDecoration-title-alignment: 0.0;
}

UnityDecoration.top {
  padding: 0 2px;
  border-style: none;
  border-radius: $material_radius $material_radius 0 0;
  box-shadow: inset 0 1px $titlebar_highlight_color;
  background-color: $titlebar_bg_color;
  color: $titlebar_fg_color;
}

UnityDecoration.top:backdrop {
  color: $titlebar_secondary_fg_color;
}

UnityDecoration.left,
UnityDecoration.right {
}

UnityDecoration.bottom {
}

UnityDecoration.menuitem,
UnityDecoration .menuitem {
  color: $titlebar_secondary_fg_color;
}

UnityDecoration.menubar.menuitem:hover,
UnityDecoration.menubar .menuitem *:hover {
  box-shadow: inset 0 -2px $titlebar_indicator_color;
  background-color: transparent;
  color: $titlebar_fg_color;
}

.background:not(.csd) :not(.titlebar) .header-bar {
  border-radius: 0;
  box-shadow: none;

  &.inline-toolbar { border-style: none; }
}

SheetStyleDialog.unity-force-quit {
  // background-color: $bg_color;
}

// Panel Style
UnityPanelWidget,
.unity-panel {
  background-color: $opaque_panel_bg_color;
  background-image: linear-gradient(to bottom, $opaque_panel_bg_color);
  color: $titlebar_fg_color;
}

UnityPanelWidget:backdrop,
.unity-panel:backdrop {
  color: $titlebar_secondary_fg_color;
}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {
  color: $titlebar_secondary_fg_color;
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
  box-shadow: inset 0 -2px $titlebar_indicator_color;
  background-color: transparent;
  color: $titlebar_fg_color;
}

@keyframes playbackmenuitem_spinner {
  to { -gtk-icon-transform: rotate(1turn); }
}

.menu IdoPlaybackMenuItem.menuitem:active {
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
  animation: playbackmenuitem_spinner 1s infinite linear;
  color: $primary_color;
}
