// apps rely on some named colors to be exported
/* GTK NAMED COLORS
   ----------------
   use responsibly! */

// Sass thinks we're using the colors in the variables as strings and may shoot
// warning, it's innocuous and can be defeated by using "" + $var
/*
widget text/foreground color */
@define-color theme_fg_color #{"" + $text};

/*
text color for entries, views and content in general */
@define-color theme_text_color #{"" + $text};

/*
widget base background color */
@define-color theme_bg_color #{"" + $background};

/*
text widgets and the like base background color */
@define-color theme_base_color #{"" + $base};

/*
base background color of selections */
@define-color theme_selected_bg_color #{"" + $primary};

/*
text/foreground color of selections */
@define-color theme_selected_fg_color #{"" + $inverse-text};

/*
base background color of insensitive widgets */
@define-color insensitive_bg_color #{"" + $background};

/*
text foreground color of insensitive widgets */
@define-color insensitive_fg_color #{"" + $text-disabled};

/*
insensitive text widgets and the like base background color */
@define-color insensitive_base_color #{"" + $base-alt};

/*
widget text/foreground color on backdrop windows */
@define-color theme_unfocused_fg_color #{"" + $text};

/*
text color for entries, views and content in general on backdrop windows */
@define-color theme_unfocused_text_color #{"" + $text};

/*
widget base background color on backdrop windows */
@define-color theme_unfocused_bg_color #{"" + $background};

/*
text widgets and the like base background color on backdrop windows */
@define-color theme_unfocused_base_color #{"" + $base};

/*
base background color of selections on backdrop windows */
@define-color theme_unfocused_selected_bg_color #{"" + $primary};

/*
text/foreground color of selections on backdrop windows */
@define-color theme_unfocused_selected_fg_color #{"" + $inverse-text};

/*
insensitive color on backdrop windows */
@define-color unfocused_insensitive_color #{"" + $text-disabled};

/*
widgets main borders color */
@define-color borders #{"" + $border};

/*
widgets main borders color on backdrop windows */
@define-color unfocused_borders #{"" + $border};

/*
these are pretty self explicative */
@define-color warning_color #{"" + $warning};
@define-color error_color #{"" + $error};
@define-color success_color #{"" + $success};
// @define-color destructive_color #{"" + $destructive};

/*
these colors are exported for the window manager and shouldn't be used in applications,
read if you used those and something break with a version upgrade you're on your own... */
@define-color wm_title #{"" + $titlebar-text};
@define-color wm_unfocused_title #{"" + $titlebar-text-secondary};
@define-color wm_highlight #{"" + $highlight-titlebar};
@define-color wm_bg #{"" + $titlebar};

/*
FIXME this is really an API */
@define-color content_view_bg #{"" + $base};
@define-color placeholder_text_color #{"" + $placeholder_text_color};
