/*********
 * Unity *
 *********/
// based css:
// http://bazaar.launchpad.net/~ubuntu-art-pkg/ubuntu-themes/trunk/view/head:/Ambiance/gtk-3.20/apps/unity.css

// Decorations
UnityDecoration {
  -UnityDecoration-extents: 28px 0 0 0;
  -UnityDecoration-input-extents: 8px;

  -UnityDecoration-shadow-offset-x: 0;
  -UnityDecoration-shadow-offset-y: 3px;
  -UnityDecoration-active-shadow-color: rgba(0, 0, 0, 0.48);
  -UnityDecoration-active-shadow-radius: 18px;
  -UnityDecoration-inactive-shadow-color: rgba(0, 0, 0, 0.32);
  -UnityDecoration-inactive-shadow-radius: 6px;

  -UnityDecoration-glow-size: 8px;
  -UnityDecoration-glow-color: $primary_color;

  -UnityDecoration-title-indent: 4px;
  -UnityDecoration-title-fade: 32px;
  -UnityDecoration-title-alignment: 0.0;
}

UnityDecoration .top {
  padding: 0 2px;
  border-style: none;
  border-radius: 2px 2px 0 0;
  // box-shadow: inset 0 1px $titlebar_highlight_color;
  box-shadow: inset 0 1px if($light == 'true', scale-alpha($white, 0.2), scale-alpha($white, 0.1));
  background-color: $alt_titlebar_bg_color;
  color: $titlebar_fg_color;
}

UnityDecoration .top:backdrop {
  color: $secondary_titlebar_fg_color;
}

UnityDecoration .left,
UnityDecoration .right {
}

UnityDecoration .bottom {
}

UnityDecoration .menuitem {
  color: gtkalpha(currentColor, $secondary_opacity);
}

UnityDecoration .menuitem:hover {
  box-shadow: inset 0 -2px currentColor;
  background-color: transparent;
  color: currentColor;
}

.background:not(.csd) headerbar:not(.titlebar) {
  border-radius: 0;
  box-shadow: none;

  &.inline-toolbar { border-style: none; }
}

sheet-style-dialog.unity-force-quit {
  // background-color: $bg_color;
}

// Panel Style
UnityPanelWidget,
.unity-panel {
  background-color: $panel_bg_color;
  background-image: image($panel_bg_color);
  color: $titlebar_fg_color;
}

UnityPanelWidget:backdrop,
.unity-panel:backdrop {
  color: $secondary_titlebar_fg_color;
}

.unity-panel.menubar,
.unity-panel .menubar {
}

.unity-panel.menuitem,
.unity-panel .menuitem {
  color: gtkalpha(currentColor, $secondary_opacity);
}

.unity-panel.menubar.menuitem:hover,
.unity-panel.menubar .menuitem *:hover {
  box-shadow: inset 0 -2px currentColor;
  background-color: transparent;
  color: currentColor;
}

@keyframes playbackmenuitem_spinner {
  to { -gtk-icon-transform: rotate(1turn); }
}

.menu IdoPlaybackMenuItem.menuitem:active {
  -gtk-icon-source: -gtk-icontheme("process-working-symbolic");
  animation: playbackmenuitem_spinner 1s infinite linear;
  color: $primary_color;
}
