//
// Override durations; since St does not support transition-timing-function
//

$duration: 100ms;
$duration-ripple: 200ms;

//
// Override shadows
//

// This should be none, but it's creating some issues with borders, so to
// workaround it for now, use inset wich goes through a different code path.
// see https://bugzilla.gnome.org/show_bug.cgi?id=752934
$shadow-z0: 0 0 transparent;
