// When color definition differs for dark and light variant,
// it gets @if ed depending on $variant

@function scale-alpha($c, $a) {
  @return scale-color($c, $alpha: percentage(-1 + $a));
}

@import 'color-palette';

// Foreground colors
$dark_fg_color: scale-alpha($black, 0.8);
$light_fg_color: $white;

$fg_color: if($variant == 'light', $dark_fg_color, $light_fg_color);
$secondary_fg_color: scale-alpha($fg_color, $secondary_opacity);
$tertiary_fg_color: scale-alpha($fg_color, $tertiary_opacity);

$inverse_fg_color: $light_fg_color;
$secondary_inverse_fg_color: scale-alpha($inverse_fg_color, $secondary_opacity);
$tertiary_inverse_fg_color: scale-alpha($inverse_fg_color, $tertiary_opacity);

$disabled_fg_color: scale-alpha($fg_color, $disabled_opacity);
$disabled_secondary_fg_color: scale-alpha($secondary_fg_color, $disabled_opacity);
$disabled_tertiary_fg_color: scale-alpha($tertiary_fg_color, $disabled_opacity);

$disabled_inverse_fg_color: scale-alpha($inverse_fg_color, $disabled_opacity);
$disabled_secondary_inverse_fg_color: scale-alpha($secondary_inverse_fg_color, $disabled_opacity);
$disabled_tertiary_inverse_fg_color: scale-alpha($tertiary_inverse_fg_color, $disabled_opacity);

// Background colors
$base_color: if($variant == 'light', $grey_50, $blue_grey_500);
$alt_base_color: if($variant == 'light', $grey_200, $blue_grey_900);

$bg_color: scale-alpha($black, $middle_opacity);
$alt_bg_color: scale-alpha($black, $lower_opacity);
$inverse_bg_color: scale-alpha($inverse_fg_color, 0.1);
$panel_bg_color: if($titlebar == 'dark', $blue_grey_900, $bg_color);

$fill_color: scale-alpha($fg_color, $lower_opacity);
$semi_fill_color: scale-alpha($fg_color, $lower_opacity / 2);
$disabled_fill_color: scale-alpha($disabled_fg_color, $lower_opacity);

$inverse_fill_color: scale-alpha($inverse_fg_color, $lower_opacity);
$semi_inverse_fill_color: scale-alpha($inverse_fg_color, $lower_opacity / 2);
$disabled_inverse_fill_color: scale-alpha($disabled_inverse_fg_color, $lower_opacity);

// Misc colors
$primary_color: $blue_400;
$alt_primary_color: $light_blue_A200;
$accent_color: $pink_A200;

$link_color: $primary_color;
$visited_link_color: $purple_A200;

$warning_color: $orange_A700;
$error_color: $deep_orange_A700;
$success_color: $green_A700;

$suggested_color: $accent_color;
$destructive_color: $red_A200;

$info_bg_color: $green_400;
$question_bg_color: $blue_400;
$warning_bg_color: $orange_400;
$error_bg_color: $red_400;

$border_color: if($variant == 'light', scale-alpha($black, 0.1), scale-alpha($black, 0.2));
$highlight_color: if($variant == 'light', scale-alpha($white, 0.4), scale-alpha($white, 0.1));
$alt_highlight_color: scale-alpha($white, 0.2);
