$variant: 'light';
$titlebar: 'dark';
$compact: 'true';


@import '../_sass/gnome-shell/_variables';
@import '../_sass/cinnamon/_over-rides';
@import '../_sass/gnome-shell/_drawing';
@import '../_sass/_colors';
@import '../_sass/cinnamon/_extends';

@import '../_sass/cinnamon/sections/_stage';
@import '../_sass/cinnamon/sections/_menu';
@import '../_sass/cinnamon/sections/_panel';
@import '../_sass/cinnamon/sections/_calendar';
@import '../_sass/cinnamon/sections/_accessibility';
@import '../_sass/cinnamon/sections/_notifications';
@import '../_sass/cinnamon/sections/_dialogs';
@import '../_sass/cinnamon/sections/_desklets';
@import '../_sass/cinnamon/sections/_alt-tab';
@import '../_sass/cinnamon/sections/_overview';
@import '../_sass/cinnamon/sections/_tile-hud';
