$variant: 'light';
$topbar: 'dark';
$compact: 'true';

@import '../variables';
@import '../colors';
@import '../gnome-shell/sass/variables';
@import '../gnome-shell/sass/drawing';
@import 'sass/over-rides';
@import 'sass/extends';
@import 'sass/common';
