$variant: 'dark';
$titlebar: 'dark';
$compact: 'true';

@import '../_sass/variables';
@import '../_sass/gnome-shell/variables';
@import '../_sass/cinnamon/over-rides';
@import '../_sass/gnome-shell/drawing';
@import '../_sass/colors';
@import '../_sass/cinnamon/extends';
@import '../_sass/cinnamon/common';
