/* Network Dialogs */
.nm-dialog {
  max-height: 34em;
  min-height: 31em;
  min-width: 32em;
}

.nm-dialog-content {
  spacing: 20px;
  padding: 24px;
}

.nm-dialog-airplane-box {
  spacing: 12px;
}

.nm-dialog-airplane-headline {
  // font-weight: bold;
  text-align: center;
}

.nm-dialog-airplane-text {
  color: hint($on-surface);
}

// header
.nm-dialog-header {
  @include type(headline6);
}

.nm-dialog-subheader {
  color: hint($on-surface);
}

.nm-dialog-header-icon {
  icon-size: 32px;
  color: hint($on-surface);
}

.nm-dialog-header-hbox {
  spacing: 16px;
}

// list of networks
.nm-dialog-scroll-view {
  border: 0;
  padding: 0;
  background-color: transparent;
}

// list item
.nm-dialog-item {
  transition-duration: $duration;
  padding: 12px;
  spacing: 20px;
  border-bottom: 0;
  border-radius: $corner-radius;
  font-size: 1em;

  &:focus {
    background-color: focus-overlay($on-surface);
  }

  &:hover {
    background-color: hover-overlay($on-surface);
  }

  &:active {
    transition-duration: $duration-ripple;
    background-color: pressed-overlay($on-surface);
  }

  &:selected {
    background-color: $selected-overlay;
    color: $on-surface;
  }
}

// icons in list
.nm-dialog-icon {
  icon-size: 16px;
  color: hint($on-surface);
}

.nm-dialog-icons {
  spacing: .5em;
}

// no networks
.no-networks-label {
  color: hint($on-surface);
}

.no-networks-box {
  spacing: 12px;
}
